[2013-05-28 12:22] Intrepidd opened #2 "ArgumentError: uncaught throw :breakout_nav"
Hi,

first of all thanks for this gem.

I'm having an issue, I'm debugging a spec, and I call pry with the usual ``binding.pry`` at some point.

I get this error when I try to run ``next`` or ``step`` for the first time, then it jumps to the next call of ``binding.pry`` and step / next works properly :

    ArgumentError: uncaught throw :breakout_nav
    from /Users/Intrepidd/.gem/ruby/2.0.0/gems/

[2013-08-28 15:32] GCorbel opened #8 "Pry go in the source of pry-byebug when I type `next`"
Hi,

This issue is related to this other one : https://github.com/nixme/pry-debugger/issues/40#issuecomment-23385458

When I use pry and I type the `next` command, I'm stopped at this line : https://github.com/deivid-rodriguez/pry-byebug/blob/master/lib/pry-byebug/processor.rb#L20. I'm using `pry-nav` `pry-byebug` et `pry-rails`.

You can see my project, an all the other gems I use, here : https:/

[2013-09-24 21:26] manuelmeurer opened #9 "Error using step or next"
I'm getting the following error when using `step` or `next`:

[code]

Using Rails 3.2.14, Ruby 2.0.0p247, Pry 0.9.12.2, pry-byebug 1.2.0, byebug 2.2.1

[2013-10-23 14:24] Incanus3 opened #11 "undefined method `interface' for PryByebug::Processor when using next"
I'm getting Rack app error: `#<NoMethodError: undefined method 'interface' for #<PryByebug::Processor:0x000000063f2810>>` when debugging rails app using pry-byebug upon issuing next in some contexts. Example of this is here: https://gist.github.com/Incanus3/7117126 along with bundle list output. The strange thing is, I don't see any pry calls in the backtrace. I'm using ruby 2.0.0-p247. Can provid

[2013-11-14 18:54] noctivityinc opened #12 "Next and step goes into Rails code"
How can I use this without it navigating in the Rails methods?  I only want to traverse my own user code.

[2013-12-07 01:16] MaxGabriel opened #13 "Feature Request: Add pry-remote support for finish and continue"
Based on [Mon-Ouie's comment](https://github.com/Mon-Ouie/pry-remote/issues/41#issuecomment-24860198), the current implementation of `finish` and `continue` is incompatible with `pry-byebug`/`pry-debugger` since it ends the current pry session.

I see there are several places where in `pry-byebug`'s codebase that attempt to keep compatibility with `pry-remote`. Is it possible to also support the `

[2014-01-11 12:54] #12 closed, assigned to nobody

[2014-01-11 12:55] #8 closed, assigned to nobody

[2014-01-28 19:53] a-chernykh opened #18 "Unable to set breakpoint on a method with `!` in it's name"
[code]
#17 introduced this regression. There's too explicit regexp check on class / method name https://github.com/deivid-rodriguez/pry-byebug/pull/17/files#diff-1c9df07abbabcb788791ee46d617738fR165

[2014-01-29 08:10] #11 closed, assigned to nobody

[2014-01-29 09:07] #18 closed, assigned to nobody

[2014-02-05 01:14] jperry opened #20 "Setting breakpoint on method isn't caught"
Hi,

I am using pry-rescue and when setting a breakpoint on a method then running try-again the debugger doesn't stop at my breakpoint.  A workaround at the moment is to set it to the first line in the method.  I don't run into this when using pry-plus probably because it uses pry-debugger and not pry-byebug.

Thanks,
Jay

[2014-02-05 14:54] jperry opened #21 "pry-stack_explorer compatibility"
[code]

[2014-02-06 16:20] cesidio opened #22 "Issue with pry-byebug 1.3.0"
Hi,

I'm experiencing an issue after upgrading pry-byebug to 1.3.0, with both Rails 3/4 and Ruby 2.0/2.1 on OSX 10.9

[code]

in order to reproduce:

[code]

add the following to the gemfile and run bundle

[code]

if I use `gem 'pry-byebug', '1.2.1'` everything is fine

[2014-02-08 14:03] #22 closed, assigned to nobody

[2014-02-22 13:57] jimmycuadra opened #23 "Pry takes an extremely long time to load when pry-byebug is installed"
The following shell session shows:
1. Installing pry-byebug.
2. Timing `pry -v`.
3. Interrupting `pry -v` after a few seconds. It hangs for many more seconds and then exits with the stack trace.
4. Uninstalling pry-byebug.
5. Timing `pry -v`.

This is on OS X Mavericks.

[code]

[2014-02-25 22:49] trbrink opened #24 "Cannot identify arguments as breakpoint error when using --show"
Hi,

I get the following error when running:

[code]

[code]

Thanks in advance!

[2014-03-31 11:55] #23 closed, assigned to nobody

[2014-04-06 14:47] zw963 opened #25 "What does `next' means? Thanks."
Exist following code

[code]

When use next, pry-byebug not into for loop, but pry-debugger, or byebug, rdebug, all
will into for loop.

Another problem:

[code]

when use next, relation to previous example, this example need one more time
to invoke next, why ?

Thanks.

one more things:
Here exist a discuss about byebug better work together pry.
https://github.com/pry/pry/issues/1192
I hope you c

[2014-04-21 17:25] lencioni opened #26 "Update to byebug 3.0.0"
Now that [byebug 3.0.0 is out](https://github.com/deivid-rodriguez/byebug/commit/9d029dfb9c65384f2766e82c2ca912a00b3d8da8), it would be great to see a version of pry-byebug that uses this new major version.

What are the main things to pay attention to in this upgrade?

[2014-06-12 01:12] bkuhlmann opened #28 "Pry 0.10.0 Support"
I'm currently getting conflicts with pry-byebug and the new pry 0.10.0 release. Would it be possible to update the gemspec to to support the latest release of Pry? As a workaround, I've had to lock Pry at 0.9.12 in order to resolve the conflict.

[2014-06-12 16:14] #28 closed, assigned to nobody

[2014-06-19 15:57] davidcelis opened #29 "Being a fork of pry-debugger makes pry-byebug difficult to search for via GitHub"
By default, GitHub will not search through forks. This means anybody searching for `pry-byebug` in GitHub's search bar is unlikely to find it:

![](https://cloudup.com/c402xyJuCRE+)

[2014-06-19 21:07] #29 closed, assigned to nobody

[2014-07-07 17:31] dblock opened #30 "Confusing behavior of `n`, terminating a Rails console"
Same as https://github.com/nixme/pry-debugger/issues/55.

[code]

[code]

This deserved an animated GIF.

![rails-c](https://cloud.githubusercontent.com/assets/542335/3499032/8c225826-05fb-11e4-8cb8-4f1c87079c74.gif)

It's either confusing or a bug?

[2014-08-07 00:20] #9 closed, assigned to nobody

[2014-08-07 14:46] #20 closed, assigned to nobody

[2014-08-07 15:02] caius opened #32 "`break` throws NoMethodError on master"
I just installed pry-byebug from master (17f9bc7b0b8a1666667b9dd574d8ae3241e21cda specifically) and found the following:

[code]

The same code works fine on v1.3.3 installed from rubygems.

[2014-08-07 15:53] #32 closed, assigned to nobody

[2014-08-07 16:28] #13 closed, assigned to nobody

[2014-08-12 16:02] brauliomartinezlm opened #33 "Can't get it to work together with pry-remote"
I'm using Pow and use pry-remote to attach to the process and evaluate things. So I needed to navigate through the code and then I added pry-byebug. But when I run next or step commands where binding.remote_pry stops, it takes me to [this](https://github.com/Mon-Ouie/pry-remote/blob/master/lib/pry-remote.rb#L239) ensure block from pry-remote, so I think something must be going wrong here...  I'm n

[2014-08-30 20:08] banister opened #34 "remove n / s / c aliases"
Please. These short-cuts are great for a pure debugger, but pry has to be a REPL as well and those single letters are very, very common scratch variables. I get a lot of confused messages from people burnt by these short-cuts.

Putting the code for defining the aliases in the README (like `pry-debugger` does) is a decent compromise, IMO :)

thanks!

[2014-09-01 19:14] #24 closed, assigned to nobody

[2014-09-10 08:00] #30 closed, assigned to nobody

[2014-09-10 08:01] #26 closed, assigned to nobody

[2014-09-21 01:45] rf- opened #35 "Please consider reverting 49de00cf89c"
This is the ["Now `pry` starts at first line after `binding.pry`"](https://github.com/deivid-rodriguez/pry-byebug/commit/49de00cf89cab30a633efd20a22622a81a10a08b) commit. It's not that this behavior is worse per se, but it violates the expectations of anyone who's already a Pry user and makes it feel like there's an off-by-one bug somewhere. I think `pry-byebug` probably shouldn't modify the exper

[2014-09-25 13:46] #35 closed, assigned to nobody

[2014-10-03 17:15] #34 closed, assigned to nobody

[2014-10-22 11:11] 907th opened #38 "Can not stop debugger with exit-program (Mac OS X)"
Debugger still stops on `binding.pry` directives even after I deleted all such directives from the source code. `exit-program` does not help too, it works just like `continue`.

[2014-10-30 10:45] #38 closed, assigned to nobody

[2014-12-01 11:55] awongCM opened #41 "Could not gem install pry-byebug on RVM >= 2.0"
Hi there,

I tried install pry-byebug.  And I got the following:

[code]

My version rvm is the following:
    ruby-2.1.3

Any advice, what I need to do to troubleshoot this?

Thanks.

[2014-12-03 11:14] #41 closed, assigned to nobody

[2014-12-06 04:44] dhruvasagar opened #42 "Rails console stuck"
If I am using `spring` and `pry-byebug` then `rails console` does come up, it just seems to be stuck, I can only <kbd>^c</kbd> out of it and then I get this stack trace :

[code]

If I remove `spring` the problem goes away but i'd like to use spring for speed. I am on Rails v4.1.5, pry-byebug v2.0.0 & spring v1.1.3

[2014-12-09 07:38] davidrunger opened #43 "Next steps into pry source code"
Hello David; thank you in advance!

I am trying to walk through a [simple script](https://gist.github.com/davidrunger/c64a53d4ac876ecec908) with pry-byebug to teach my students debugging, but it's not working the way that I expect. Typing `next`, the progression of lines is 6 => 6 again => 356 in pry_instance.rb. I would have hoped/expected to go from line 6=> 7=> 8 where we could then pause with

[2014-12-09 09:14] weakish opened #44 "`break` & `next` don't work inside blocks"
[code]

After uninstalling pry-byebug, it works.

Pry version 0.10.1 on Ruby 2.1.4
pry-byebug 2.0.0

[2014-12-09 18:09] #43 closed, assigned to nobody

[2014-12-16 04:22] #42 closed, assigned to nobody

[2014-12-17 22:32] squarism opened #45 "binding.pry doesn't fire when it's on the last line of a program"
Failing case:

`gem install pry-byebug`

[code]

Test: `ruby test.rb`.  No pry shell opens.

Passing case:
`gem uninstall pry-byebug`

Or, add a line with assignment.  Oddly enough, ending lines of comments or simply an ending line of `1` doesn't workaround this.

[code]

Test: `ruby test.rb`.  The pry shell opens.

The workaround is pretty simple.  Ever since moving to ruby 2 and getting rid of p

[2014-12-30 08:41] #25 closed, assigned to nobody

[2015-01-08 10:15] alesguzik commented on #35
Could you make it configurable at least? This feature may be useful for those who use debugging features often, but there are lots of people who use pry just to eval code in a context. In our case one developer in a team needed debugging features, added pry-byebug to Gemfile, and now everyone else suffer from this behaviour. Thank you.

[2015-01-08 10:59] deivid-rodriguez commented on #35
Read the linked issue, that's the current state of things.

[2015-01-11 05:26] rf- commented on #45
@deivid-rodriguez Thanks for giving your perspective on the "byebug plus REPL" vs. "Pry plus stepping" thing. This is really the same problem as the one-letter alias thing, I think. As a Pry user, I would normally expect a plugin to stay out of the way unless I'm specifically trying to use it. On the other hand, it makes perfect sense that someone coming from the byebug side would want to make the

[2015-01-11 05:31] rf- commented on #45
Re: the `require: false` workaround not working, you need to put `Pry.config.should_load_plugins = false` in your `.pryrc` to disable automatic plugin loading.

[2015-01-11 17:24] deivid-rodriguez commented on #45
Yep, same problem as the aliases. Thanks for understanding, I'll way until someome wants to take over or until I find time myself. At least we have a valid workaround now!

[2015-01-19 11:16] grk commented on #34
Any chance for a released version that fixes this?

[2015-01-19 11:21] deivid-rodriguez commented on #34
I'll try to release a new version in the next three months. In the meantime just use master!

[2015-01-20 10:36] everm1nd opened #47 "Confusing behavior of breaks command"
byebug have a commands break and breaks. With break you can delete breakpoint doing this:

break --delete N

After deletion it types list of all remaining breakpoints. But when you type breaks --delete N it does not respect --delete flag and show no error messages. Just typing the same output - list of all available breakpoints. For my it was a little bit confusing. Maybe it's better to throw erro

[2015-01-20 10:52] deivid-rodriguez commented on #47
Hi again, @everm1nd ! :smile:

If you want to give this a try, this should be an easy one to fix. This is the file where that stuff happens: https://github.com/deivid-rodriguez/pry-byebug/blob/master/lib/pry/commands/breakpoint.rb

[2015-01-20 12:10] everm1nd commented on #47
@deivid-rodriguez Ok. I'll see what I can do here

[2015-01-20 12:14] deivid-rodriguez commented on #47
:+1: Great

[2015-01-20 22:06] x-yuri opened #48 "it fails to debug raven"
`Gemfile`:

[code]

`1.rb`:

[code]

[code]

[code]

[2015-01-24 17:02] #48 closed

[2015-01-30 03:19] travisp opened #51 "Threads run in the context of pry/byebug hang in 2.0.0"
On pry-byebug 1.3.3:

``
[1] pry(#<RSpec::Core::ExampleGroup::Nested_1>)> x = Thread.new { sleep 0.1; print "x"; print "y"; print "z" }
=> #<Thread:0x007fbfbb0337c0@(pry):1 sleep>
[2] pry(#<RSpec::Core::ExampleGroup::Nested_1>)> x.join
xyz=> #<Thread:0x007fbfbb0337c0@(pry):1 dead>
``

On pry-byebug 2.0.0:
``
[1] pry(#<RSpec::Core::ExampleGroup::Nested_1>)> x = Thread.new { sleep 0.1; print "x"; pr

[2015-01-30 03:45] travisp commented on #51
More specifically, the above threads work on pry-byebug commit 5c72fb550c1e447b4fadcb110beff00ac28cdfbe, but not 2 commits later b0eba72a7727ef58a3eefa75878d8b164147bf5a (I can't test the commit in the middle because I get exceptions).

[2015-01-31 23:17] banister commented on #45
@deivid-rodriguez can you explain how to disable this behaviour? is it an easy change? If you can give me some guidance on reverting it back to the normal pry behaviour i'll take this on :)

[2015-01-31 23:28] deivid-rodriguez commented on #45
@banister It's been a while since I don't play with this code, but the change was introduced in the commit pointed out by @rf- in #35. The thing is I like the current behavior and I'd like to keep it and fix this edge case, but it's not an easy one...

[2015-01-31 23:33] banister commented on #45
@deivid-rodriguez is it possible we could make this a config option and uses could choose their behaviour? If possible, could we have teh default config to be the normal pry behaviour and for people who prefer your behaviour they could explicitly set it in their `~/.pryrc`?

The unfortunate situation is that nearly everyone uses `pry-byebug` with pry (as it's an awesome gem, thanks! :), but it dra

[2015-01-31 23:45] banister commented on #45
@deivid-rodriguez oh i just heard that you fixed it for the case where `binding.pry` is added on the last line of a method, that'll definiteily fix the 90% case.

Is it possible you could push out a new gem with this fix in it? I think that would reduce the majority of confusion, awesome :+1:

John

[2015-01-31 23:59] deivid-rodriguez commented on #45
@banister I've been a bit reluctant to release because I haven't used last master myself in any app, and the current test suite doesn't give me enough confidence. Let me try the gem against an app in the next days and I'll release if everything is working fine. Or if you can confirm this yourself, I'll release right now! Does this sound reasonable?

[2015-02-02 12:28] deivid-rodriguez commented on #45
@banister done!

[2015-02-05 21:27] nessur commented on #33
pry-byebug version 1.3.3 works great with pry-remote, so I'm pinned there for now.

[2015-02-12 02:14] zw963 opened #53 "pry-byebug not worked directly in $lOAD_PATH."
Because some special reason, I use $LOAD_PATH directly. some gem is not manager by
gem, just directly put into $LOAD_PATH, make it work.

But,  from 1.3.2 update to 3.0.1, it not worked for me.

[code]

it caused only by pry-byebug, byebug is work file.

Thanks.

[2015-02-17 04:00] Liooo opened #54 "Feature to set alias for `binding.pry`"
I'm a bit uncomfortable with having to type `binding.pry` every time.
There's a gem [kentaroi/pry-alias](https://github.com/kentaroi/pry-alias) for making an alias for `binding.pry`.
Isn't it a nice idea to embed this feature in pry-byebug? Giving an option to set whatever alias name in .pryrc or something/

[2015-02-18 12:14] chaimk commented on #34
OMG. Thank god I found this thread. I was using c as a variable and getting the obscure error for no apparent reason. Horrific... Thanks for changing it, and the sooner the better!

[2015-02-18 17:27] deivid-rodriguez commented on #54
So `pry-alias` does not currently work with `pry-byebug`?

[2015-02-18 18:42] bencoppock commented on #33
This helped us get running again. Thank you @nessur.

[2015-02-18 20:55] deivid-rodriguez commented on #51
Could you try to reproduce this using latest `pry-byebug` and `byebug` (from master). I think it should be fixed in `byebug`.

[2015-02-18 22:44] Liooo commented on #54
It does quite well.
But the point is I thought it's a good idea to make this feature embedded in pry-byebug.
It probably is just a few lines of changes, and also users won't want to put 'pry-alias' just for this feature in their Gemfile.

[2015-02-19 16:49] deivid-rodriguez commented on #54
I think most users won't be interested in this feature and most of the ones who want something like this, would just configure an snippet in their editor (for example, [using UltiSnips for vim](https://github.com/honza/vim-snippets/blob/master/snippets/ruby.snippets#L620-621)).

In any case, if this was to be included by default somewhere, it should be `pry` itself, which is the gem providing `bin

[2015-02-19 16:49] #54 closed

[2015-02-20 03:49] Liooo commented on #54
Okay sorry that was my mistake, I'll try to ask guys of pry anyway!
Thanks!

[2015-02-20 17:20] deivid-rodriguez commented on #54
No problem @Liooo

[2015-02-22 16:18] travisp commented on #51
@deivid-rodriguez Unfortunately it seems that in pry-byebug master 917c365dc7f36 and byebug master 99bd3269deb790 the problem still remains.

[2015-02-27 18:23] deivid-rodriguez commented on #53
@zw963 Sorry I missed this issue. Do you think you can try a pull request to fix this?

[2015-02-27 18:25] deivid-rodriguez commented on #51
You means the problem remains separately in `byebug`´s master or using `pry-byebug` (master) + `byebug` (master).

[2015-02-27 18:26] deivid-rodriguez commented on #47
@everm1nd Did you ever get to this?

[2015-03-02 04:37] olivierlacan commented on #51
@deivid-rodriguez Running both `byebug` master and `pry-byebug` master I'm still seeing hangs inside of capybara-webkit threads as well. Is there anything that could help you with this issue?

Basic setup I have is rspec with Capybara and capybara-webkit.
In `spec_helper.rb`:
[code]

In the spec itself:

[code]

Running the spec, when the Pry session starts, any call to `find('#selector')` hangs i

[2015-03-02 12:55] deivid-rodriguez commented on #51
Are you able to reproduce using byebug master _only_?

[2015-03-02 12:56] olivierlacan commented on #51
@deivid-rodriguez Yep. That's what I did originally. I had the last release of pry-byebug I think and byebug master.

[2015-03-02 13:09] deivid-rodriguez commented on #51
@olivierlacan Did you uninstall `pry-byebug`, installed `byebug`'s master branch and then reproduced this using `byebug` instead of `binding.pry`?

If that's the case, open an issue in `byebug`'s repo?

[2015-03-05 19:57] fetchak opened #56 "Feature Request: Allow 'continue' to accept a line number argument"
It'd be great if pry-byebug's "continue" worked [like byebug's](https://gist.github.com/fetchak/a8e963aab48779441c82), accepting a line number as argument.

Thanks for your work on this gem.

[2015-03-07 16:09] deivid-rodriguez commented on #56
PR's welcome.

[2015-03-07 16:16] travisp commented on #51
@deivid-rodriguez I tested again with the latest (after 091cff) in byebug. With byebug alone the problem does not seem to exist. With pry-byebug the problem remains for me and https://github.com/thoughtbot/capybara-webkit/issues/718 seems to be an issue for me too.

[2015-03-07 16:28] deivid-rodriguez commented on #51
@travisp I guess this is because pry-byebug is not using latest byebug's master. This should be fixed in next release.

@olivierlacan Sorry if my last sentence sounded rude, it's missing "could you".. :)

[2015-03-09 08:47] zw963 commented on #53
OK, I will have a try to use Pry new API add command in.

[2015-03-09 21:54] deivid-rodriguez commented on #53
Does this need a new command??

[2015-03-10 00:07] micahbf commented on #44
Same goes for `next` in a block.

`Error: Cannot find local context. Did you use binding.pry?`

[2015-03-12 16:03] zw963 commented on #53
I think should do so.

It seem like add `breakpoint.rb` and `stepping.rb` into pry gem commands directory, cause pry autoload those two commands failed. (when require 'pry')

pry  use a new way to add commands in, so I thought should rewrite those two commands

But, I don't know why it worked when install as gem ...

[2015-03-13 14:22] deivid-rodriguez commented on #53
Ah, ok, you're talking about _rewriting_ the commands, not adding new ones.

[2015-03-14 01:50] deivid-rodriguez commented on #21
Should be fixed in version 3.1.0 thanks to #57

[2015-03-14 01:50] #21 closed

[2015-03-14 12:54] zw963 commented on #53
Hi, I try rewriting command with following gist, original error is fixed,
But still not worked,  seem like Pry::Commands::helpers it not in effect.

from wiki, I got this:
``
  # You can define your own private helper methods for this command. If you want
  # to share helpers, then define them using Pry::Commands.helpers{ def foo; end }
  # instead.
[code]
(pry):0> next
NoMethodError: undefined me

[2015-03-14 13:06] zw963 commented on #53
I make a new issue for ` Pry::Commands.helpers`.

[2015-03-14 14:10] deivid-rodriguez commented on #53
@zw963 Thanks for your help and effort. I understand you might want to give up trying but I'd like to ask for a pleasure:

* Could you correct the links to the gists? Ideally, they could be in patch format so I can easily see what are the changes you added to __pry-byebug__.
* Could you link to the issue you opened in __pry__?

This will help me a lot when I work on this issue to see where you lef

[2015-03-16 11:07] zw963 commented on #53
I update commit. : )

[2015-03-24 12:06] deivid-rodriguez commented on #53
I saw that you updated the commit, thanks!

[2015-04-02 15:30] zw963 commented on #53
I add a new pull request for this, seem like it worked  : )

https://github.com/deivid-rodriguez/pry-byebug/pull/59

[2015-04-03 19:13] dtenenba commented on #44
+1

[2015-04-04 13:58] zw963 commented on #53
I update to pry-byebug 3.1.0, and remove unrelated gems affect, the finally backtrace output like this:

[code]

What I does is simple enough, I setting environment variable ``RUBYLIB=/home/zw963/Dropbox/common/ruby/gems``, and put pry-byebug, byebug, pry etc .. gems files inside `lib` in RUBYLIB, it work fine for me
with much gems and earlier version pry-byebug, But it not work any more since upd

[2015-04-06 14:49] deivid-rodriguez commented on #51
Closing for lack of feedback. Feel free to reopen if still happening.

[2015-04-06 14:49] #51 closed

[2015-04-11 23:14] deivid-rodriguez commented on #53
Thanks @zw963, I'll have a look when I can.

[2015-04-15 20:56] micahbf commented on #44
Workaround I've put in my .pryrc:

[code]

[2015-04-29 18:48] WilliamSnyders opened #60 "Rescue unhandled exceptions functionality"
PR #55 seems to have broken compatibility with pry-rescue and its use of pry-stack_explorer (see ConradIrwin/pry-rescue#85). #55  overrides the `up` and `down` commands that pry-stack_explorer has, and pry-rescue is trying to go around pry-byebug it would seem, but can only access pry-byebug `up` and `down` commands now.

[2015-04-29 20:08] deivid-rodriguez commented on #60
Yes, `pry-byebug` is incompatible with `pry-stack_explorer` or any plugins making use of it.

[2015-04-30 13:30] JonnieCache commented on #44
+1 on this

[2015-05-05 01:14] gerrywastaken commented on #45
Are you able to add a note asking for a new maintainer at the top of the readme?

[2015-05-07 01:23] deivid-rodriguez commented on #45
@gerrywastaken Do you think that's going to work? I mean anybody interested could try to fix this issue (or any other), this is open source after all, but nobody has stepped in... I don't think this gem needs a new mantainer, it needs contributions!

[2015-05-07 03:34] gerrywastaken commented on #45
@deivid-rodriguez Oh sorry! It seems I misunderstood what you were saying. Sorry then, I take it back.

Regarding others fixing the issue. I suspect most want a revert of the auto advance feature, which would likely fix this and incompatibility issues with other pry gems. But I can understand reluctance to do this, given what you want from pry-byebug.

[2015-05-07 04:16] deivid-rodriguez commented on #45
No need to apologize! What I meant is that I currently have no motivation to fix some issues but I'm happy to review any patches and help contributors. If you think a note in the readme can encourage contrutions, it can be done.

I don't think this specific issue affects many people. And regarding pry-rescue compatibility, some may consider it a regression but I never meant to support it in the fi

[2015-05-07 04:38] banister commented on #45
@deivid-rodriguez this auto-advance behaviour actually does break a bunch of plugins and causes weird/unexpected behaviour, i think it does affect a lot of people it's just they've either set the gem version of `pry-byebug` to a prior one that didn't have the auto advance or they've just had to work around the behaviour/live with it.

It would be awesome, if we could revert auto advance -- i think

[2015-05-07 10:08] deivid-rodriguez commented on #45
@banister Please, could you reread this conversation? Last time you talked you requested this same thing, but you hadn't tried last master. Then someone pointed out to you that this was fixed in the 90% case. Then you said it was ok but you asked for a release. So I released and requested some feedback from you. But you didn't reply. Now you ask for the same thing but don't explain what has change

[2015-05-07 12:01] banister commented on #45
@deivid-rodriguez Sorry for not being clear :) Also, sorry for not responding earlier, i probably got distracted by some mundanity and forget to get back to you :(

Earlier in the discussion I was just considering `pry-byebug` as an isolated gem, the fix on master does generally fix pry-byebug as an isolated gem, but it has very bad effects (that i hadn't realized) for the pry ecosystem as a whole

[2015-05-07 15:08] deivid-rodriguez commented on #45
No problem, sorry if my comment sounded harsh.

No. I'll consider PR's focusing on adding a feature "X" that I want (I'm up for supporting the kind of functionality `pry-rescue` or `pry-remote` provide). If a specific PR, tests or reasoning over the code convinces me that adding feature "X" strictly requires removing feature "Y", then I'll consider it (I don't think this is the case for pry-remote

[2015-05-14 03:21] huanzhang commented on #44
+1

[2015-05-14 23:58] #44 closed

[2015-05-14 23:59] deivid-rodriguez commented on #44
Could you guys try the latest changes and confirm this is fixed?

[2015-05-15 00:00] deivid-rodriguez commented on #53
@zw963 This should be fixed in latest master. Could you please confirm?

[2015-05-15 00:46] #47 closed

[2015-05-15 00:48] deivid-rodriguez commented on #47
@everm1nd This should be fixed in last master. I completely dropped the `breaks` command. The correct (and only) way to list breakpoints now is `break` without arguments.

[2015-05-15 01:27] #56 closed

[2015-05-15 01:28] deivid-rodriguez commented on #56
@fetchak This should be fixed in last master. Could you confirm?

[2015-05-15 01:28] #53 closed

[2015-05-15 01:30] deivid-rodriguez commented on #2
@aledalgrande @mjrk What's the reason to use `pry.binding` instead of `binding.pry`?

[2015-05-15 03:50] aledalgrande commented on #2
simply remembering things wrong :ambulance:

[2015-05-15 06:46] huanzhang commented on #44
Seems still not work~

$gem uninstall pry-byebug
$ git clone git@github.com:deivid-rodriguez/pry-byebug.git
$ gem build pry-byebug.gemspec
$ gem install pry-byebug-3.1.0.gem

$ pry
[1] pry(main)> loop do
[1] pry(main)*   puts 'bye'
[1] pry(main)*   break
[1] pry(main)*   puts 'bug!'
[1] pry(main)> end
bye
bug!
bye
bug!
bye
bug!
bye
bug!
bye
bug!
bye
bug!
...
..
.

[2015-05-15 07:54] kntmrkm opened #61 "When use `binding.pry` once, Ruby process get slow."
Hi,

This is a profile before use `binding.pry`.

![before](https://cloud.githubusercontent.com/assets/2703486/7648863/73d09784-fb22-11e4-94e6-6266d537441b.jpg)

After use `binding.pry` and quit it.
Page load time get slow. Webrick's ruby process got slow maybe.

![after](https://cloud.githubusercontent.com/assets/2703486/7648889/c5338a78-fb22-11e4-8bde-a3a45db09ab6.jpg)

Without `pry-byebug`.
Pro

[2015-05-15 08:52] everm1nd commented on #47
@deivid-rodriguez :+1:

[2015-05-15 10:02] deivid-rodriguez commented on #61
Yep, debuggers makes things slower.

Do you find this too annoying? Not sure how much room there's for improvement and whether it is worth it.

[2015-05-15 10:24] kntmrkm commented on #61
I don't know how much worth too.

At least It's a annoying for me.

In my main project.
Page load time is increase to about 15 seconds from few seconds.

Other people are how's it going?

[2015-05-15 11:54] deivid-rodriguez commented on #44
@huanzhang Could you try again now?

[2015-05-15 11:58] deivid-rodriguez commented on #2
@aledalgrande Could you try to reproduce this against last master? I seem to be getting

    Cannot find local context. Did you use `binding.pry`?

which seems like a better error message.

[2015-05-16 18:05] deivid-rodriguez commented on #61
@kntmrkm Can you confirm this is reproduced using byebug only, open an issue and byebug's repo and link to this one there? Thanks.

[2015-05-18 04:48] zw963 commented on #53
It seem fix in newest github version, currently, pry can load successfully.

but, it seem like cause another problems.

##  `binding.pry` is not worked for me.

[code]
run this file, nothing happen. binding.pry is not intercept.

## binding.of_caller is not worked for me.

when I use ``binding.of_caller(2).pry``, it not position me to correct place.

[code]

the corrent position is:
[code]

the tr

[2015-05-18 05:36] zw963 commented on #53
pry-byebug version: ca01c53

byebug: 4.0.5, this version worked with old version pry-byebug, so, it seem like
caused by HEAD version pry-byebug.

Thank very much!

[2015-05-18 22:39] deivid-rodriguez commented on #53
@zw963 Could you explain better the new issue? Notice that due to #45. If `binding.pry` is the last line of your program, you will not get a debugging prompt.

[2015-05-19 00:49] NullVoxPopuli commented on #61
my page time goes from seconds to about a minute

[2015-05-19 00:58] deivid-rodriguez commented on #61
Thanks guys for your reports.

I would just ask you to give objective numbers instead of biased stuff. "from x seconds to y seconds" is much more useful than "to about 15 seconds from few seconds" or "from seconds to about a minute".

[2015-05-19 01:07] NullVoxPopuli commented on #61
Well, looking at my log, it looks like the response time after binding.pry is used ranges from 40 seconds to over a minute...

![screenshot from 2015-05-18 21 07 21](https://cloud.githubusercontent.com/assets/199018/7693593/ee822462-fda1-11e4-8ad1-80ea2b6db8a7.png)

[2015-05-19 01:14] deivid-rodriguez commented on #61
Again not very specific, but got it. Thanks.

[2015-05-19 01:21] NullVoxPopuli commented on #61
does it not happen for you?

[2015-05-19 04:05] zw963 commented on #53
Hi, I only could give some clue for this,  and I will try reproduce possibly bugs about this:

## position location error.
[code]

 ☠  $ ruby test1.rb

[code]

If only require ``pry``, it worked.

[code]

## Use binding_of_caller gems can reproduce the same bug:

[code]

[code]

If change `require 'pry-byebug'` to `require 'pry'`.

[code]

this seem like fix, it seem like cause by myself  (public

[2015-05-19 04:16] zw963 commented on #53
The above possible bug not found at: ``pry-byebug 1.3.3``, I use this until now.
Though it is not support pry-remote good.
So i have to use two combination for difference situation:

- for local debug: (pry-byebug + byebug)
- for remote/background debug: pry_nav + pr_remote

I address this with write a pry! wrapper method,  although I really want to
wipe out ``pry_nav`` from my code.

[2015-05-19 07:56] huanzhang commented on #44
@deivid-rodriguez It's fixed this time!
Sorry for the late response.

[2015-05-19 11:04] deivid-rodriguez commented on #53
@zw963 The "position location error" is not a bug, but a feature. The marker position was changed in `2.0` to be the first line after `binding.pry` and not `binding.pry` itself. All your `pry` evaluations stay the same (the actual position in the source code does not change, just the marker), but you don't need to type an extra `next` if you want to use `pry-byebug` features and navigate your sour

[2015-05-19 11:06] deivid-rodriguez commented on #61
Of course, debuggers slow things down, that's normal. But it never got too bad in my apps.

In any case, I have an idea on how to improve this.

[2015-05-19 11:06] deivid-rodriguez commented on #44
That's great to hear!

[2015-05-19 11:37] rhymes opened #62 "Test with byebug 5.0"
pry-byebug is bound to byebug ~> 4.0, there's a new byebug 5.0.0

[2015-05-19 11:46] deivid-rodriguez commented on #62
I know, what do you want me to do?

Before bumping the dependency, we should verify it works fine, no? Do you want to do it?

[2015-05-19 18:04] rhymes commented on #62
Ah ah sorry, I've been quite cryptic, I just wanted to tell you about the new release but then I realized you are the author of byebug too and I felt dumb :-)

[2015-05-21 03:05] zw963 commented on #53
Thank you for clarify.

before change to 2.0, I use this wrapper method skip to upper frame.

[code]
in version 2.x,  `marker` stop at error position.
[code]

if it worked, I think it should stop at here ?

[code]
How should I resolve this?
I thought this is a bigger change not compatible with pry,  will maybe cause
some problems about pry relation gems. perhaps if use ``byebug`` command directly,

[2015-05-21 18:21] deivid-rodriguez commented on #53
I agree that is unexpected behaviour and the previuos one was better. I'll have a look at it when I can.

But I wonder why you're using that in the first place. Your calling `binding.pry` inside a method and want `pry` to skip the method and land outside of it. Why not skipping the method and just calling `binding.pry` outside? What's the use case?

[2015-05-22 03:26] zw963 commented on #53
hehe, just more less typing, and can wrap more logic in wrapper method.

e.g.
I can detect ruby version, environment variable, to decide use byebug or debugger
or any others specify version gem,  and any logic i want to add.

Thank you.

[2015-05-26 14:13] travisp commented on #51
@deivid-rodriguez on pry-byebug 3.1.0 and byebug 4.0, as well as pry-byebug ``master`` this still remains an issue -- any threads run in this context seem to hang.

[2015-05-31 17:46] krainboltgreene commented on #62
What are the breaking API changes in 5.0 from 4.0?

[2015-05-31 20:14] deivid-rodriguez commented on #62
I think none of them should affect `pry-byebug`, but someone has to verify it.

[2015-06-01 10:05] SimonHFrost commented on #61
This seems to increase our page load 10x. I did some analysis and have these load times from our home page:

<b>Before</b>
Completed 200 OK in 2317ms (Views: 2174.1ms)
Completed 200 OK in 2424ms (Views: 2283.9ms)
Completed 200 OK in 1624ms (Views: 1617.3ms)
Completed 200 OK in 1682ms (Views: 1667.9ms)
<b>After</b>
Completed 200 OK in 32467ms (Views: 32290.0ms)
Completed 200 OK in 18576ms (Views: 1

[2015-06-17 15:51] jbielick commented on #61
Also experiencing this issue:

`> rails s`

[code]

**ruby ~2.0% CPU**

after inserting one `binding.pry`, hitting that breakpoint, removing it and refreshing the page:

[code]
and
**ruby 99.7-100.4% CPU**

Relevant Gemfile group:

[code]

lock:

[code]

[2015-06-17 16:38] deivid-rodriguez commented on #61
Thanks, I'll fix this as soon as possible.

[2015-06-18 12:34] Quintasan commented on #62
This probably doesn't count as a formal test but today I've been playing around with byebug 5.0.0 in a new Rails application and ran pry from there. I didn't manage to break anything within an hour of normal debugging session.

[2015-06-22 19:56] fetchak commented on #56
Confirmed. Thanks

[2015-06-23 00:50] deivid-rodriguez commented on #56
:+1:

[2015-06-23 11:49] antmg83 opened #65 "break does not list breakpoints"
I'm using version 3.1.0 and adding breakpoints by line number:-
[code]
When running `break --disable-all` it displays the previous assigned breakpoint as being disabled

[2015-06-25 09:31] fredrikmollerstrand commented on #61
Our team is seeing this as well: any requests to Rails after entering and exiting a `binding.pry` session is very slow with the process seemingly locking up for 5-10 seconds.

Let me know if I can be of any help chasing this down, @deivid-rodriguez.

[2015-06-27 17:23] brandondrew commented on #33
:+1:

[2015-07-03 00:36] naw commented on #61
I'm seeing this too.

Before: 900ms
After: 13,500ms

[2015-07-10 21:40] stugol opened #66 "Re-execute command"
I really need the ability to re-run a previous line of code during debugging. For example, suppose an exception occurs and a rescue block runs pry. To determine the cause of the exception, I need to jump back up and run the failing line again. But there is no way to do this. We need either a "goto line" command, or a "retry failing code" command.

Any chance of this, please?

[2015-07-10 21:50] deivid-rodriguez commented on #66
This is quite tricky and won't be implemented in a long time (if ever). This is the feature request in `byebug`: deivid-rodriguez/byebug#60

[2015-07-10 21:50] #66 closed

[2015-07-18 12:59] deivid-rodriguez commented on #62
I've just released a new version that depends on `byebug 5`.

[2015-07-18 12:59] #62 closed

[2015-07-18 13:00] deivid-rodriguez commented on #65
I just noticed this and cannot be reproduce in `3.2.0`. Please reopen if I'm missing something.

[2015-07-18 13:00] #65 closed

[2015-07-21 12:40] deivid-rodriguez commented on #61
Closing in favor of byebug#144

[2015-07-21 12:40] #61 closed

[2015-07-22 07:02] JikkuJose opened #68 "Unable to quite from code inspect mode"
I placed `binding.pry` inside a pretty long loop and after inspecting two rounds tried to quit with: `quit`/`q!`/`exit`/`Ctrl-C`/`Ctrl-D` but there was no use! Help!

[2015-07-22 22:58] deivid-rodriguez commented on #68
Try to reproduce this using only `pry`. If it still happens, report the issue there, otherwise reopen this issue.

If you reopen this issue, please make sure you read https://github.com/deivid-rodriguez/pry-byebug/blob/master/CONTRIBUTING.md first and follow the instructions there.

[2015-07-22 22:58] #68 closed

[2015-07-24 20:00] andrewfader opened #69 "Thread hangs"
See https://github.com/deivid-rodriguez/byebug/issues/115

I have an example repo here: https://github.com/andrewfader/minimal_byebug_hang

[code]

[2015-07-25 23:08] deivid-rodriguez commented on #69
Thanks!

[2015-08-06 13:59] MoMenne opened #70 "Gemspec has special characters"
Hi,

This might be an error with my configuration or the character set that I am using.

I'm having difficulty adding the pry-byebug gem to my Gemfile.
`gem "pry-byebug", github: 'deivid-rodriguez/pry-byebug'`

There error message was as follows:
`There was a SyntaxError while loading pry-byebug.gemspec:
/usr/local/rvm/gems/ruby-2.1.2/bundler/gems/pry-byebug-b9353e64ff09/pry-byebug.gemspec:6: inva

[2015-08-08 18:19] deivid-rodriguez commented on #70
@MoMenne Does the latest commit in master fix your problem?

[2015-08-12 18:45] akostadinov opened #71 "nesting does not work"
I see that in vanilla `pry` if I have `binding.pry` on some place, it works as a break point. With `pry-byebug` these are ignored. Is there any way to not ignore them? I see that setting breakpoints dynamically is possible. But how to put static break points?

[2015-08-13 10:48] deivid-rodriguez commented on #71
Hei! So there's two different issues here.

For the first one, you're right, `pry-byebug` cannot stop at breakpoints when code is evaluated from command prompt. I might revisit this in the future, but currently "subdebuggers" are not allowed.

For the second one, `pry` automatically requires plugins by default even if you specifiy `require: false` in your Gemfile (I know, weird). But it allows the

[2015-08-13 12:27] akostadinov commented on #71
Ok, thanks, .pryrc that can help have both options.

I'm just interested, what is the reason to not allow sub-debuggers? Or is it just current implementation. If it is a question of preference, maybe it needs to be done optional?

[2015-08-13 12:30] deivid-rodriguez commented on #71
Yes, it's just a limitation of the current implementation, I'm not against it.

[2015-08-24 19:12] dezmathio commented on #69
@deivid-rodriguez i saw on deivid-rodriguez/byebug#115 you said this was fixed... Is that in version 3.2.0 ? Which PR/commit did you fix it in? It's still hanging for me on my dev environment. :(

[2015-08-24 19:26] deivid-rodriguez commented on #69
Did I? When? I consider this as not fixed, that's why this issue is opened.

[2015-08-28 20:15] JESii commented on #71
Hi... I've run into the same problem and it's breaking my normal workflow of entering pry and calling various routines with binding.prys to see how things are working. Any chance sub-debuggers can be added? I'd be willing to help if I can. Thanks.

[2015-08-29 11:05] deivid-rodriguez commented on #71
Do you guys would like a proper `pry-byebug` console (with debugging commands) or a regular `pry` would be enough. If you want to the latter, I think stop monkeypatching `pry` and create "our own `binding.pry`" with debugging capabilities would work.

Proper debugging inside REPL evaluation commands needs to be fixed/added in `byebug` itself, either by default or through a custom command as sugges

[2015-08-30 18:47] deivid-rodriguez commented on #71
I pushed a fix to this. Could you please try `pry-byebug` + latest `byebug` master and tell me if it works?

[2015-08-30 18:49] deivid-rodriguez commented on #70
@MoMenne Any feedback?

[2015-08-30 21:42] deivid-rodriguez commented on #45
I've been recently considering to actually change the command to enter `pry-byebug` instead of reusing `binding.pry`. That way the user would be able to choose whether (s)he wants step-by-step debugging or just a plain REPL (like in this case, since step-by-step debugging doesn't make a lot of sense from the last line of a program).

Would that be a satisfactory resolution for this issue?

[2015-08-31 04:45] MoMenne commented on #70
Perfect.  Thanks for changing that.

[2015-08-31 04:45] #70 closed

[2015-08-31 06:34] akostadinov commented on #71
Thank you, do you have nightly builds or should I compile from source?

[2015-08-31 11:52] deivid-rodriguez commented on #2
Closing for lack of feedback.

[2015-08-31 11:52] #2 closed

[2015-08-31 13:15] deivid-rodriguez commented on #71
The easiest way to try this is, if you're using `bundler` is:

[code]

and then point to your local clones in the Gemfile of your app:

[code]

[2015-08-31 13:34] JESii commented on #71
Thanks! I'll try to give this a shot today...

[2015-08-31 13:52] JESii commented on #71
Didn't work for me; here's what I did after building the latest versions and updating my Gemfile (the bundle install confirmed that I was using my local source).
1) added binding.pry to one of my methods
2) Executed a cucumber step which simply drops me into pry with a binding.pry
3) Called the method in step 1 above
4) The method completed without executing the contained binding.pry.
Did I miss s

[2015-08-31 18:18] deivid-rodriguez commented on #71
Your steps seem correct, I'll have another look. Could you confirm at least this works using `byebug` only?

[2015-08-31 19:24] JESii commented on #71
OK; let me check...

[2015-08-31 19:28] JESii commented on #71
Works just fine with byebug only...

[2015-08-31 20:38] deivid-rodriguez commented on #71
:+1:

[2015-08-31 23:49] squarism commented on #45
I think this would be fine for me.  I think most people wouldn't mind changing to a new thing.  I personally have it as a vim snippet anyway.

[2015-09-01 00:07] deivid-rodriguez commented on #45
@squarism Thanks for the feedback. I have that vim snippet too :)

[2015-09-01 21:58] deivid-rodriguez commented on #66
I also recently found out about this pry plugin that might fit your needs: https://github.com/awwaiid/pry-timetravel

[2015-09-01 22:34] stugol commented on #66
Thanks. But that doesn't really help, as I would have to invoke ```snap``` before the exception actually occurred, which would require prescience.

[2015-09-01 23:05] deivid-rodriguez commented on #66
Welcome, good luck!

[2015-09-03 16:01] JESii commented on #71
Hi, Deivid... Is this ready to be updated to our Gemfile for both pry-byebug and byebug or is there something else you need me to test? Thanks.

[2015-09-03 16:21] deivid-rodriguez commented on #71
Nope, this needs more work.

[2015-09-03 23:02] JESii commented on #71
OK; thanks... let me know if there's anything you need me to do.

[2015-09-06 04:40] justin808 commented on #51
I just tried this and also ran into this issue. So still seems like an issue.

[2015-09-06 10:37] deivid-rodriguez commented on #51
This seems like a duplicate of #69. Let's comment there.

[2015-09-15 11:49] zw963 commented on #53
I don't want to add a new issue for following.

If can, could you add a toggle to allow disable start at pry at next line.

it work not well with binding.of_caller, I use pry-byebug so long, but keep still use 1.3.3,
 it work perfect for me. (it awesome, so old still work file), although byebug is update to 5.0.

[2015-09-15 11:50] zw963 commented on #53
If need, I can add a new feature request for this. Thanks.

[2015-09-28 19:49] kassi opened #77 "Bump version"
Any plans here to bump the next version so updating to new byebug version will be possible (without adding git(hub) repo to the Gemfile)?

[2015-09-29 06:46] YOUConsulting opened #78 "Next goes into Pry-remote Gem"
Hi!

I'm trying to get Pry Remote running with Pry-Byebug! Now since the upgrade to Rails 4.x.x and Ruby 2.x.x I can still get into Pry-remote but when I type next strange behaviour happens!

For details please check my stackoverflow topic edit 2:

http://stackoverflow.com/questions/32780971/pry-remote-not-triggered-rails-4/32818381?noredirect=1#comment53499372_32818381

[2015-10-04 17:03] deivid-rodriguez commented on #78
Closing in favor of #33

[2015-10-04 17:03] #78 closed

[2015-10-06 15:40] daino3 opened #79 "Segmentation Fault ```ARObject.valid?```"
I'm not sure where to start looking for crash logs when it comes to this, but here is what I'm using and an output of my pry-shell. Can you point me in the direction of what else you need to reproduce this?

using:
- Yosemite 10.10.3
- ruby 2.2.2
- rspec 3.3.2
- mysql 0.3.18
- pry-byebug 3.2.0
- pry 0.10.2

[code]

[2015-10-14 15:37] shaneog commented on #77
:+1:

[2015-10-19 12:20] deepj commented on #77
:+1:

[2015-10-19 12:42] deivid-rodriguez commented on #77
Sorry I missed this thread. The answer is yes.

[2015-10-19 12:42] #77 closed

[2015-10-27 17:36] deivid-rodriguez commented on #79
@daino3 The only SEGVs I've seen around `byebug` in ages are related to https://github.com/deivid-rodriguez/byebug/pull/160. Can you still reproduce this?

[2015-10-27 17:59] daino3 commented on #79
@deivid-rodriguez - No, I nuked my VM / reprovisioned and it seemed to have fixed itself. Sorry - I should have closed this issue. Thanks for following up!

[2015-10-27 17:59] #79 closed

[2015-10-27 18:16] deivid-rodriguez commented on #79
No problem, sorry for taking this long to reply!

[2015-11-05 05:27] fbernier opened #81 "Gem release to bump the dependency for the new byebug version"
Since you released byebug 7.0.0 today, a new release of this too would be nice.

[2015-11-05 14:56] k0kubun opened #82 "byebug 7.0 support"
To resolve https://github.com/deivid-rodriguez/pry-byebug/issues/61 on pry processor too, we need byebug 7.0's feature and changes in https://github.com/deivid-rodriguez/pry-byebug/pull/80.
Since most of my colleagues use byebug via pry-byebug, I want byebug 7.0 to be supported by pry-byebug.

But pry-byebug's test suite fails with byebug 7.0 and I couldn't easily understand why it's broken.
Is th

[2015-11-05 15:59] k0kubun commented on #82
Closing in favor of https://github.com/deivid-rodriguez/pry-byebug/commit/c0ab747c1d94a7e7d681b4539f5d6de66a80be37

[2015-11-05 15:59] #82 closed

[2015-11-05 17:07] deivid-rodriguez commented on #81
3.3.0 is out!

[2015-11-05 17:07] #81 closed

[2015-11-10 22:56] williscool commented on #69
I think im running into this

[2015-11-10 23:35] deivid-rodriguez commented on #69
The solution to your problem is an easy one. Get rid of `pry-byebug` and use (your beloved) `pry` only! :smile:

[2015-11-10 23:42] williscool commented on #69
Doesn't work either way :(

Added byebug hoping it might help some how

Any other tips on how I might get around this?

Having to puts everything I want to debug out is no fun

[2015-11-10 23:58] deivid-rodriguez commented on #69
You mean this happens using `pry` or `byebug` only as well? It shouldn't.

[2015-11-11 00:02] williscool commented on #69
Using only `binding.pry` and using only `byebug`

[code]

[2015-11-11 08:38] deivid-rodriguez commented on #69
You can try two things:
- For `binding.pry`. have you also removed `pry-byebug` from your `Gemfile`? If you haven't, you're still using `pry-byebug`.

- For `byebug`, I'd need you to upgrade your ruby to either `2.1.7` or `2.2.3` and then apply [this patch](https://github.com/ruby/ruby/commit/2d4bc584eef5dcd11dbae4c92fe8b.patch). Using `rvm` you can do, for example, `rvm reinstall 2.1.7 --patch ht

[2015-11-12 00:38] williscool commented on #69
No dice on 2.1.7 with patch

get this error when running `page.driver.cookies`

[code]

both with pry and with byebug

[2015-11-12 00:40] deivid-rodriguez commented on #69
Did you remove `pry-byebug` from your `Gemfile` and this fails in plain `pry`?

[2015-11-12 01:11] williscool commented on #69
Wait. IT WORKS with byebug by itself!

but pry works neither way (with our without byebug)

and thanks for taking to help me debug. I really appreciate it even if we dont figure it all the way out

[2015-11-12 01:15] williscool commented on #69
but its intermittent. sometimes it works sometimes it doesnt

[2015-11-12 02:56] dezmathio commented on #69
I never really posted an update to our situation but we ended up just removing byebug completely. Even though it has amazing features, it wasn't compatible with our cucumber suite. I wonder if it would have worked just putting byebug under the development env in the Gemfile and pry in the test one. I'll have to test it out when I have more time.

[2015-11-12 09:03] deivid-rodriguez commented on #69
@willscool So I ended up trying this again. Didn't want to but your information was very confusing. Nothing has changed:

- Works with `byebug` and `pry` alone.
- Hangs in `pry-byebug`.

@dezmathio Notice that this is `pry-byebug`'s repository. If you have specific issues with `byebug` you can report them at `byebug`'s repository (or obviously stop using it like you did).

[2015-11-18 15:04] adrianomitre opened #83 "commands, aliased or not, overshadow variables"
After adding the suggested alias_command to my .pryrc, trying to set any single character aliased command with a space after it, such as in the following
`s = 1`
generates the following error

which is the same error one would get with
    `s`
which means that Pry is parsing `s = nil` as command `s` with arguments `= 1`, which is obviously not intended. Removing spaces in the assignment, i.e., `s=

[2015-12-17 16:21] joeletizia opened #84 "pry-byebug causes blocking of test rails server"
[Repo that reproduces issue](https://github.com/joeletizia/pry-byebug-issue)

## Summary
When pry-byebug is added to this project's gem file and `binding.pry` is used within a feature test (RSpec or Cucumber with Capybara) the web thread/process waits on the `binding.pry` even if that breakpoint is located in the test file. When pry-byebug is removed, the web thread/process is not blocked and the

[2015-12-17 21:04] deivid-rodriguez commented on #84
Hi @joeletizia, thanks for the report. I think this is a duplicate of #69 indeed, so I'm going to close this. Feel free to reopen if you disagree.

[2015-12-29 19:01] LandonSchropp commented on #33
:+1: I'm still seeing this issue with pry-byebug. I'd love to see an update that lets them work together.

[2016-01-10 00:19] deivid-rodriguez commented on #84
Never actually closed it...

[2016-01-10 00:19] #84 closed

[2016-01-10 00:21] deivid-rodriguez commented on #83
After a quick read of the linked issue, this should be closed too, right?

[2016-01-10 00:21] #83 closed

[2016-01-10 02:53] adrianomitre commented on #83
Right

[2016-01-16 10:17] aoyama-val commented on #60
Hi.
Does `byebug` already have "Rescue unhandled exceptions functionality"? How can I make it work?
Also, `byebug`'s `frame` output format is pretty different from that of `pry-rescue`'s `show-stack`. `show-stack` lists all frames up to the top, so it's more informative. Is is possible to implement it in `byebug`?

[code]

[code]

[2016-01-16 12:09] deivid-rodriguez commented on #60
Hi @aoyama-val, thanks for your comments.

 `byebug` does have the "rescue unhandled exceptions" functionality. You have to enable the `post_mortem` option through `set post_mortem`. _But_, there are some issues with it in rubies >= 2.2.4, see https://github.com/deivid-rodriguez/byebug/issues/165. I'm not sure whether it's totally broken or not, you can try.

Regard the way of showing the stack, y

[2016-01-16 14:12] aoyama-val commented on #60
Hi @deivid-rodriguez, thanks for the information.

I gave`post_mortem` a quick try with Ruby 2.3.0, and I didn't notice any failure. So it seems not broken totally.

`byebug` has `bt/backtrace/where` commands, but `pry-byebug` does NOT. So we cannot use them in a pry session. Am I missing something?

[2016-01-17 09:01] deivid-rodriguez commented on #60
You're welcome! I'm glad the good old `post-mortem` mode is still usable :)

Regarding your second comment, yes, you're right. `pry-byebug` needs a command to show the full stack. I thought you were aware of it since you mentioned `byebug`'s `frame` command in your first message (which exists too). Now I see you meant `pry-byebug`'s `frame` command.

In any case, feel free to work on adding this n

[2016-01-22 10:47] mikz commented on #69
So after fiddling with pry-byebug, pry and byebug alone. I must say this is problem of byebug.

When pry-byebug is removed from the gemfile, it is reproducible just with byebug alone.

Capybara-webkit hangs on:
[code]

Here is the Thread.list:

[code]

It makes sense. Capybara starts a thread to wait for a socket, but byebug stops everything, so the thread can never complete.

[2016-01-29 20:18] Ch4s3 commented on #69
I'm having the same issue

[2016-02-16 20:36] pdbradley opened #85 "Can you save the byebug session options in a pry-byebug session?"
Couldn't seem to do it within the pry-byebug session.  Is it disabled?

![image](https://cloud.githubusercontent.com/assets/448399/13090314/f0586f46-d4c2-11e5-9d28-142acd91ff77.png)

[2016-02-24 19:40] zacharyjt commented on #69
I am also seeing the same issue with 3.3.0 in capybara-webkit 1.8.0

[2016-03-21 08:14] fgarcia opened #86 "User defined "step""
Is it possible to redefine, just a little bit, how step works?

Take this code as an example:

[code]

There are cases when I delegate method calls with the **forwardable** lib, or with **method_missing** and I would like a way to customize **step** so it ignores some files. In the example above I would like **step** to ignore the ruby library file `forwardable.rb` and **step** again when finding

[2016-03-24 08:25] pdxwolfy opened #87 "pry-byebug not working in secondary files"
It's a long story, but I tried installing pry-plus tonight, after which I suddenly found that pry-byebug no longer seemed to be working. I went so far as to completely wipe my ruby, gem, and rvm installations from my system, and installed a bare bones copy of ruby with pry and pry-byebug, but things are not working.

Until tonight, this would work:

[code]

When pry would kick in, I would be able

[2016-03-24 10:27] pdxwolfy commented on #87
This does not appear to be an issue in pry-debug. The problem is in Pry::Helpers::BaseHelpers#not_a_real_file/

[2016-03-24 10:29] pdxwolfy commented on #87
Looks like its been fixed on Github, but not yet released.

[2016-03-24 17:06] YaroSpace opened #88 "Using byebug's display"
Is there a way to use byebug's `display` from within pry?

[2016-03-24 19:14] #87 closed

[2016-03-25 07:39] deivid-rodriguez commented on #85
Sorry, I somehow had unfollowed this repo, so I haven't been getting notifications for new issues. :sweat:

`save` is not available. `pry-byebug` is a `pry` REPL with some additions and changes from `byebug`. I guess the best option would be to check for similar functionality inside `pry`.

[2016-03-25 07:39] #85 closed

[2016-03-25 07:40] deivid-rodriguez commented on #86
I think you want `step 2`.

[2016-03-25 07:40] #86 closed

[2016-03-25 07:41] deivid-rodriguez commented on #88
Nope. There might be equivalent functionality in `pry`, not sure.

[2016-03-25 07:41] #88 closed

[2016-03-25 08:01] fgarcia commented on #86
I know I can do "step 2"

What I want is to not be forced to remember for each function of my own library if I must step 2, 3, 4... times to avoid the library code I want to ignore.

I forked the library but I could not find a clean way to automatically repeat "step" depending on the current frame

[2016-03-25 08:03] deivid-rodriguez commented on #86
I see, you want something like this, right? https://github.com/deivid-rodriguez/byebug/issues/47

[2016-03-25 08:07] fgarcia commented on #86
yep!
so it is already in the C library but not exposed?

I've just realized I could try writing a custom Pry macro like `my_step` but it would be way nicer and more idiomatic just using `step`

[2016-03-25 08:09] deivid-rodriguez commented on #86
Nope, it's just an open issue...

[2016-04-01 22:11] jetsgit commented on #33
Any traction on this issue?  I am not getting any love from pry-byebug v.1.3.3, v.3.1, v.3.3 with POW and pry-remote v.0.1.8

[2016-04-02 07:55] deivid-rodriguez commented on #33
Nope.

[2016-04-03 05:07] jetsgit commented on #33
Ok, unless it is really necessary to use pry-remote--e.g. you are doing some pair programming with someone in another city, there is a work around in regard to getting pry-byebug working with POW.
By using the proxy feature of POW, you can create the following in ~/.pow instead on a symlink:

``` echo 3000 > ~/.pow/`basename $PWD` ```

...doing above from your app directory.

I am doing this with

[2016-04-05 15:20] ben2d2 commented on #69
Also seeing this issue with 3.3.0 in capybara-webkit 1.7.1

[2016-04-05 15:27] deivid-rodriguez commented on #69
Linking this the actual issue which seems to be inside `byebug`. https://github.com/deivid-rodriguez/byebug/issues/193

Also, let's use reactions for dummy +1 comments!

[2016-05-13 22:10] ChrisCPO opened #93 "after install disabled C-c in tmux"
After installing this gem in my Gemspec, it has disabled my tmux C-c (clear/exit command) instead of exit/clear as expected it does nothing, in order to leave the debugger I need to type exit. Any thoughts?

I'm positive this gem was on my system before but not this on project till I installed it. I have not used it with tmux before as I recently switched to tmux.

pry-byebug 3.3.0

[2016-05-14 07:12] deivid-rodriguez commented on #93
Hi @ChrisCPO , could you review your report? I think it has some grammatical issues and I'm having trouble to understand.

[2016-05-16 16:50] ChrisCPO commented on #93
@deivid-rodriguez  opps sorry fixed.

[2016-05-17 06:32] deivid-rodriguez commented on #93
@ChrisCPO Does this happen when using `pry` alone?

[2016-05-17 17:35] ChrisCPO commented on #93
@deivid-rodriguez yes it is.

[2016-05-17 18:20] deivid-rodriguez commented on #93
Ok, so you should report this to the pry project. Regards.

[2016-05-17 18:20] #93 closed

[2016-05-17 18:43] ChrisCPO commented on #93
@deivid-rodriguez  yep sorry to bother you.

[2016-05-17 20:04] deivid-rodriguez commented on #93
No problem!

[2016-06-23 03:53] Benjamin-Dobell opened #100 "NameError: undefined method `__pry__' for class"
When executing `backtrace` after breaking due to a `binding.pry`, I'm receiving:

[code]

[code]

From Gemfile.lock:

[code]

`up` and `down` commands do work, I haven't tried much else as it's pretty difficult to debug without a backtrace.

[2016-08-10 17:01] bf4 opened #101 "Missing context when file path has spaces in it"
This is a pretty common (and annoying) error when using [corporate dropbox since it inflexibly requires the dropbox path to have spaces in it](https://www.dropboxforum.com/hc/en-us/community/posts/204571525-Can-you-remove-the-space-in-the-dropbox-folder-name-Dropbox-Company-Name-).

In the pry-byebug source:

- [PryByebug#file_context](https://github.com/deivid-rodriguez/pry-byebug/blob/edf6c27c2c

[2016-08-20 22:59] kevinhughes27 commented on #33
@nessur's fix (using version 1.3.3) works for me:

rails (5.0.0.1)
pry-remote (0.1.8)

[2016-09-13 12:51] pelly commented on #100
Any luck on this? Running into the same problem.

[2016-09-28 10:21] zubau commented on #33
Have you had any news about compatibility with **pry-remote**

[2016-09-29 06:44] zubau commented on #33
@deivid-rodriguez have you got any news about compatibility **pry-byebug** with **pry-remote**? It's running very well with **pry-byebug**(version 1.3.3) but I wanna update the gems later.

[2016-11-17 03:29] jeffutter commented on #33
Any thoughts here? We're seeing the same issue with pry-byebug 1.3.3, byebug 2.7.0 and pry-remote 0.1.8.

For what it's worth here is the exact output we're seeing:

[code]

It's like it is `next`ing in the pry process, not in the application.

Unfortunately pry-remote is the best (only?) solution for using pry in a docker-compose setup with multiple ruby applications in the stack. It would be gre

[2016-11-25 21:48] benlieb commented on #69
same issue, sad any progress, workarounds? I'm just switching to gem 'pry' when I need to debug feature specs, which is basically all of the time

[2016-11-25 21:57] deivid-rodriguez commented on #69
Nope. Feel free to help.

[2017-01-03 18:26] mbigras commented on #34
For folks hitting this issue via google. You can get the shortcuts back by adding the following to your `~/.pryrc` file:

[code]

Taken from the [README](https://github.com/deivid-rodriguez/pry-byebug#matching-byebug-behaviour)

[2017-01-18 12:52] marko-avlijas opened #109 "Unexpected behavior when there is a command after it on same line"
I had something like this in my rspec spec.

    before(:each) { binding.pry; Settings.set_dir(@fixture_dir) }

This behaves differently then when I have it like this:

      before(:each) {
        binding.pry
        Settings.set_dir(@fixture_dir)
      }

Later works as expected - stops where I have put command `binding.pry`
Former stops in first line of function `Settings.set_dir`

[2017-01-18 12:54] marko-avlijas opened #110 "pry-backtrace does not filter out gems / ruby code."
Take a look at result of `pry-backtrace`
It contains 2 useful lines of code, hidden within 30 something lines.

    [5] pry(Settings)> pry-backtrace
    Backtrace:
    --
    /home/marko/.gem/ruby/2.3.1/gems/pry-byebug-3.4.2/lib/byebug/processors/pry_processor.rb:115:in `block in resume_pry'
    /home/marko/.gem/ruby/2.3.1/gems/pry-byebug-3.4.2/lib/byebug/processors/pry_processor.rb:28:in `block i

[2017-02-22 11:46] gpakosz opened #112 "NoMethodError: undefined method `root' for #<Gem::Source::Installed:0x007ff9c4ff0d50 @uri=nil>"
I'm hitting this exception when trying to use `pry-byebug` in the context of `nanoc`.

Here is the stack trace.

[code]

At that point I'm not sure this is caused by `pry-byebug`, `bundler` or `nanoc`.

That being said, requiring `pry` before calling `binding.pry` instead of requiring `pry-byebug` works for me.

[2017-03-01 17:58] joallard opened #113 "Binding on Rails console"
[code]

Instead, I get the error ``Error: Cannot find local context. Did you use `binding.pry`?``

[2017-04-22 14:49] gpakosz commented on #112
Thanks @ddfreyne for helping me with this, appreciated.

What's happening is through Nanoc hoops, `Gem::Source::Installed` instance corresponding to `pry-byebug` ends up respond to `#path` which confuses Bundler.

[2017-04-22 14:49] #112 closed

[2017-06-12 21:33] jaredbeck commented on #33
## Workaround

Use `Byebug.start_server` and `byebug -R`.

You don't need `pry-remote`, `pry`, `pry-nav`, or `pry-remote`. You don't need any pry-stuff. All you need is `byebug`.

It's not well documented, but it works. See Nicholas Gronow's instructions on SO: https://stackoverflow.com/a/25823241/567762

[2017-08-22 13:46] Mike-Dunton opened #123 "Dep on byebug ~> 9.0 breaking for versions of ruby before 2.2"
Get this error when trying to install pry-byebug 3.4.0

[code]

It looks like byebug 9.1.0 only supports Ruby 2.2.0. It was released today. https://rubygems.org/gems/byebug

[2017-08-22 14:07] deivid-rodriguez commented on #123
Thanks! I'll release 3.4.3 as soon as possible fixing this!

[2017-08-22 14:15] deivid-rodriguez commented on #123
Just to confirm. Does it still happen if you point to the master branch in your Gemfile (`gem "pry-byebug", git: "https://github.com/deivid-rodriguez/pry-byebug"`)? Does it get fixed if you point to #124 (`gem "pry-byebug", git: "https://github.com/deivid-rodriguez/pry-byebug", branch: "release/3.4.3"`)?

[2017-08-22 14:48] Mike-Dunton commented on #123
@deivid-rodriguez Thanks for the quick response

`gem "pry-byebug", git: "https://github.com/deivid-rodriguez/pry-byebug"` does not work
[code]

`gem "pry-byebug", git: "https://github.com/deivid-rodriguez/pry-byebug", branch: "release/3.4.3"` Does work.

[2017-08-22 14:49] deivid-rodriguez commented on #123
Great! Expect a release in the next few hours!

[2017-08-22 15:34] #123 closed

[2017-08-25 07:04] dependabot[bot] opened #127 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update any of your dependencies.

This is usually caused by one of your dependencies having been removed (yanked) from its source, by a git reference having been deleted, or by a manual edit to your dependency lock file.

To fully diagnose the issue, try running a manual install locally.

[2017-08-25 08:01] mvz commented on #123
IMHO, this should really be handled by Bundler and/or rubygems: Now I'm stuck on byebug 9.0 on Ruby 2.4 🙁.

[2017-08-25 08:59] deivid-rodriguez commented on #123
Can you try out #126?

[2017-08-25 15:30] mvz commented on #123
That works, thanks! 👍

[2017-08-26 07:04] #127 closed

[2017-08-26 08:05] deivid-rodriguez commented on #123
I released `pry-byebug` 3.5.0, thanks for trying that out!

[2017-10-27 07:28] j3pic commented on #69
It's still happening to me. I have an even more minimal test case:

[code]

Call `test_thread` from the Pry prompt and it'll hang.

[2017-11-02 20:13] michaeleisel opened #138 "Backtrace not working"
Hi, when I run `backtrace` in the repl that gets opened up when an exception occurs, I get:
[code]

[2017-11-23 18:49] Arepo opened #141 "Is there a way to get pry-rails' level of prettiness using pry-byebug?"
I've tried installing awesome_print, but it doesn't seem as good (eg it doesn't seem to work as well for nested objects, and requires users to either do some config to make it the default, or keep prefixing stuff with `ap`)

[2017-11-27 16:55] deivid-rodriguez commented on #69
Fixed via #142!

[2017-11-27 16:55] #69 closed

[2017-12-01 17:07] MathieuDerelle opened #145 "weird behavior : string interpolation in return statement of next / break"
using this snippet of code
[code]
in string interpolation, the variable `a` get the value of outside block `5` instead of `3`
without string interpolation or using `.to_s`, it keeps the value `3`

[code]

Versions used :
[code]

Gemfile.lock :
[code]

(originally posted on pry : https://github.com/pry/pry/issues/1717)

[2018-01-09 09:56] JoshCheek commented on #45
FWIW, I got it to behave the way I would expect (didn't test much, just playing around):

[code]

After looking at it for a while and reading a lot of the byebug source, I finally realized that we mostly just needed to pass the supplied binding to pry on the first invocation, and then after that, it can behave the way it currently does.

-----

It turned out to be a lot harder of a problem than I

[2018-01-09 11:23] deivid-rodriguez commented on #45
Hi @JoshCheek, thanks for your feedback. I still feel the best resolution for this issue would be to make `pry-byebug` stop being a pry plugin and make it into an independent tool with a separate entry point other than `binding.pry`.

But I'm of course I'm open to smarter, better thought-out implementations of `byebug` that make it a better tool, regardless of this issue with `pry-byebug`.

[2018-01-09 11:46] deivid-rodriguez commented on #45
I mean the "easiest". The best would be of course to fix this by somehow adding support for this in byebug. Or maybe making the autoadvance feature configurable, there's an old PR doing that that I never got to review.

[2018-01-09 17:38] JoshCheek commented on #45
Yeah, that makes sense. An alternative would be to leave it as a plugin, but one which you explicitly enter, eg a `debug` command to turn it on, and until then, it just delegates down to pry. Another option would be a different method, eg `pry.debug` so that the user could opt into the functionality of their preference.

Really, the pain I'm trying to solve is that one of my projects has it as a d

[2018-01-29 09:26] cyrilchampier commented on #138
if that helps, another trace:
[code]

[2018-02-23 04:53] TikiTDO opened #159 "Runing import without passing it through ID fetcher"
Both `import_scope` [here](https://github.com/toptal/chewy/blob/7c18afe02d28f5d635093582e529f32596965857/lib/chewy/type/adapter/active_record.rb#L24) and `import_objects` [here](https://github.com/toptal/chewy/blob/eb1ad99f9a6a9361892ab9b4df313c871a97bc9b/lib/chewy/type/adapter/orm.rb#L115) re-run a select, regardless of what I pass in. For a more complex index, this can translate to a bunch of qu

[2018-02-23 05:50] TikiTDO commented on #159
Er, had the wrong repo open. Sorry about that.

[2018-02-23 05:50] #159 closed

[2018-02-28 06:54] IvanChou commented on #110
`pry-backtrace` is a command defined in gem pry, not pry-byebug

you can modify the file `lib/pry/commands/pry_backtrace.rb` in pry

[code]

[2018-03-05 19:48] vfonic opened #162 "Where can I find documentation?"
I'm trying to "step-over" certain lines of code, so I tried `step` and `next`, but it seems that both commands enter the method. I also checked byebug repo and its wiki is empty. Where can I find a documentation on which commands correspond to which actions so that I can use them properly?

Thanks!

[2018-03-08 12:33] bbugh opened #163 "RuntimeError: You want to finish 4 frames, but stack size is only 1"
Hello! pry-byebug is awesome and you are awesome. Thanks for saving my butt from printf debugging so many times, I'm so spoiled that when I go use other languages I'm sad not to have anything like this.

I am having a strange issue with pry-byebug. Google sends me to a few other Github issues that are several years old, but none have a resolution. I am getting this error when doing `binding.pry` i

[2018-03-10 12:00] deivid-rodriguez commented on #163
Hi @bbugh. First of all, thanks for your kind words :heart:.

Second, thanks for the report. It uses up to date ruby and it seems easily reproducible... :+1:

Another thing you could try to further isolate it is replace `pry-byebug` with `byebug` and `binding.pry` with `byebug`. If it still reproduces, then we should move this ticket to the byebug repo.

[2018-03-11 16:48] bbugh commented on #163
Good call, I tried it with just `byebug` and the issue still happened.

I didn't think about that since I was actually not loading `pry-byebug`—only `pry` was in the `Gemfile`. The on/off switch for this error was simply having it installed or not. It was a red herring! 🐟

Should I make another bug in the `byebug` repo?

[2018-03-11 16:51] deivid-rodriguez commented on #163
Yes, please!

[2018-03-13 16:32] rrosenblum opened #164 "Add current fame index from pry-stack_explorer"
`pry-stack_explorer` always lists the current frame number out of the total number of frames `Frame number: 0/65`. I would like to see the same thing in `pry-byebug`.

[code]

[2018-03-20 09:27] Glutexo commented on #33
This issue is four years old and the problems described by @jeffutter are still present.

[2018-04-08 17:29] Sod-Almighty commented on #45
Any movement on this bug?

[2018-04-09 23:33] vincentwoo commented on #60
Any progress on bringing post-mortem functionality through to pry-byebug from byebug?

[2018-04-09 23:36] deivid-rodriguez commented on #60
Not really, sorry.

[2018-04-17 12:41] stanislavkozlovski opened #173 "Suggestion: Multiple command calls"
Sometimes while in a loop I'd like to end it or get to the middle element. Typing `next` a bunch of times is not practical.

It would be awesome if there was a feature where you could say how many times you want to type the command. Something like this:
[code]
And it would call `next` 5 times

[2018-05-04 12:11] jfedgar commented on #33
I just ran into this issue with pry-byebug 8.2.4 and pry-remote 0.1.8.

[2018-05-12 10:46] stdedos opened #174 "Wiki Outdated?"
https://github.com/deivid-rodriguez/pry-byebug/wiki/Using-pry-byebug-inline

I haven't `require`d `'pry'` since I started using the plugin.

_I could obviously fix it myself, I wanted to ask first though. I am not sure if there is any reason to keep the page, other than quick code example_

[2018-05-12 10:52] stdedos opened #175 "Audible bell when binding.pry"
When trying to replicate a hard bug, I used to setup `binding.pry` statements to debug.
The testcased used, however, is time-sensitive, and time-consuming.

Would it make sense to have a configurable option, for sounding the terminal bell when binding is complete?

[2018-06-14 06:42] anquegi commented on #163
I have the same error but only in this situation, with pry (0.11.3) pry-byebug (3.6.0) installed and ruby 2.5.1, When I use edit -c after going out of the emacs editor (or vim) I get the followinf trace:

[code]

When I use edti without -c option, it works well, If I remove pry-byebug gem it also works well, and if I use only byebug it also works well

[2018-07-05 22:52] rrcobb commented on #163
Minimal reproducible example:
[code]

[code]

I share the confusion about why pry-byebug is in the trace, even though only pry is require'd

[code]

It looks like the key to reproducing is just having pry-byebug installed, then calling a method that tries to call another `binding.pry`.

The solution that works to solve this example (though not satisfyingly explain it, nor solve the issues for thos

[2018-07-10 08:57] Placinta opened #184 "Rest of byebug commands (descend into byebug)"
I searched around and couldn't find information on how I could use the rest of the byebug commands that are not explicitly exported by pry-byebug (for .e.g. list, list -, list +)

Is there some way to descend into the byebug session from within pry?

Currently I need to uninstall pry-byebug, and instead use the 'byebug' statement to start the debugger, run "pry" to go into the repl, run some comma

[2018-08-22 22:44] leandrogoe commented on #110
Actually the command is defined in `byebug` gem:

[code]

If you monkey patch it to the code below, you'll get what you want:
[code]

[2018-09-15 16:51] chrisarcand commented on #33
@deivid-rodriguez 👋 I took a look at this and bisected the issue down to 49de00cf89cab30a633efd20a22622a81a10a08b. That's the first bad commit where pry-remote no longer works. I guess that probably doesn't help a lot because unfortunately lots of changes have happened since then so I'm not really sure where to go from here to help track this issue down.

[2018-09-21 08:43] ndbroadbent opened #190 "Pasting multiple lines of code"
One thing that really frustrates me is not being able to paste multiple lines of code. I often have to make little blocks of code into a single line, add semicolons, use curly braces, etc.

It would be extremely useful if there was a way to paste multiple lines of code, and execute the code once you reach the final `end` or `}`.

Actually I just started `irb` to test it out and it seemed to work f

[2018-10-03 05:57] AlexEvanczuk opened #192 "Question on invoking pry debugging commands manually via method"
Hi --
I frequently want to do something where I have a method that when called, breaks me out of my pry and runs a number of commands.  For example, if I know that the next series of calls are skippable, I might have a method:
[code]

However, this doesn't work, since the `next` command and others only exist when the pry console is open.  I've tried using something like:
[code]
But this doesn't se

[2018-10-13 00:09] Sod-Almighty opened #193 "BUG: binding.pry does nothing as last command in file"
When using bry-byebug, the `binding.pry` instruction is non-functional at the end of a code file:
[code]
[code]
"Banister" from the pry repo reckons this is a bug in pry-byebug. See the [issue here](https://github.com/pry/pry/issues/1754).

[2018-10-17 16:46] jscheel commented on #113
https://stackoverflow.com/questions/38965956/breakpoints-with-pry-byebug-dont-trigger-in-the-console

[2018-12-29 00:04] sloneorzeszki commented on #33
I have the same problem with pry-byebug 3.6.0 and pry-remote 0.1.8.

One thing I found out is that changing the value in `Byebug.current_context.step_out(4, true)` ( `pry_processor.rb`) from `4` to `5` fixes the issue, but only for `binding.remote_pry`. Once I use `binding.pry` in the same place it all breaks. It seems that using `binding.remote_pry` adds one more layer to step out from. This is t

[2018-12-29 04:05] gartha1 opened #201 "using pry-byebug with selenium - deadlock error and unable to step through my code"
When I try using pry-byebug, I find I am unable to step through my code.

It goes into some internal code not written by me, and then gives an error about deadlock.

For anybody unfamiliar with Selenium, it is a library that lets a person programmatically control a web browser.  I am using Mac osx. I had to do `$gem install selenium-webdriver`(which I guess you know).  And I had to install a chrom

[2018-12-29 04:20] gartha1 commented on #201
This shows what happens if I use 'next' rather than 'step'.

It doesn't stop at each put statement. (which is what I want to do).

So either way, step or next, it doesn't work or doesn't do what I'd like.

[code]

[2018-12-29 18:12] atd commented on #33
Thank you so much @sloneorzeszki. I find your comment quite insightful and useful. Congrats for your first contribution!

Changing `4` to `5` also works for me. But I cannot find a clear way to submit a fix. How do you calculate the frames you need to step out? It depends on the pry plugins or hacks you have included in your setup :thinking:

[2018-12-30 13:04] sloneorzeszki commented on #33
Thanks, @atd :) If enough people confirm that changing the number to 5 fixes the problem I guess we can assume that's the way to go. It maybe sounds like a bad idea (since we would have to set a different number for every gem having similar problem), but with pry-remote we already have the `pry_remote_ext.rb` file where we can place most of the code.

I too have a problem thinking about any good-l

[2018-12-30 13:56] deivid-rodriguez commented on #33
Thanks for all your investigations! I'll try to find some time to look at this! :+1:

[2018-12-30 16:20] atd commented on #33
Thank you for sharing your branch @sloneorzeszki

I have tested it, but I still get the input inside the wrong terminal (the one with the `rails s`) and outputs does go to the `pry-remote` terminal

![image](https://user-images.githubusercontent.com/26228/50548990-d82b9880-0c55-11e9-88e5-20ac975c226a.png)

Regarding your comments, you should be able to enclose the `attr_accessor :current_remote_se

[2019-01-08 19:54] sloneorzeszki commented on #33
@atd I applied your suggestions and pushed to my fork (https://github.com/sloneorzeszki/pry-byebug/commit/33d4ba2536a68221ac8c08797b06af5bec5fcaab). Unfortunately I wasn't able to fix the wrong terminal problem even though I spent a few hours on it. Hopefully someone else will be able to go on with that. Thanks again for help.

[2019-01-09 20:07] simon1tan opened #204 "Feature Request: watch variables"
Can we get a variables box on the right side that stays on-screen so we can see our variable values?

[2019-01-24 17:05] mike-burns commented on #204
Pry has [`watch` expressions](https://github.com/pry/pry/blob/master/lib/pry/commands/watch_expression.rb).

[2019-02-18 11:50] aried3r opened #208 "byebug 11 compatibility"
I saw that the last time the version was bumped support for older versions was dropped.

https://github.com/deivid-rodriguez/pry-byebug/commit/7f5b57e1f5bf2505146d516e603762a955ee16a1

Is this the way to go for byebug 11 compatibility or should we do something like `'>= 10', '< 12'` or be even more optimistic and do `~> 10`?

[2019-02-18 11:53] aried3r commented on #208
Ah, just saw your byebug_11 branch. https://github.com/deivid-rodriguez/pry-byebug/tree/byebug_11

Then I'll close this :)

[2019-02-18 11:53] #208 closed

[2019-02-20 15:04] 23tux commented on #208
The branch no longer exists, can you say something when support for byebug 11 will be released?

[2019-02-20 16:00] aried3r commented on #208
I think soon after https://github.com/deivid-rodriguez/pry-byebug/pull/213 is merged.

[2019-02-20 16:03] deivid-rodriguez commented on #208
Yeah! :)

[2019-02-27 04:25] hegwin commented on #145
Same issue for `break` with a parameter:

In pry:

[code]

In pry-byebug:

[code]

[2019-03-13 13:46] glindsey opened #215 "Feature Request: "next"-style command that runs until the next non-gem line"
My apologies if this has been suggested before, but I think it would be _super_ useful to have a command that lets you run until you hit the next line of non-Rails/non-gem code.

Here's an example scenario: I'd like to use [contracts.ruby](http://egonschiele.github.io/contracts.ruby/) to enforce calling contracts on methods. The problem I run into is that if I want to use `pry-byebug` to step into

[2019-03-13 14:47] deivid-rodriguez commented on #215
Yes. This has been requested in `byebug` but I never found the time to look into it. See https://github.com/deivid-rodriguez/byebug/issues/47.

[2019-03-20 14:01] matkoniecz opened #218 "coverage badge in the readme is not working"
See right one in https://github.com/deivid-rodriguez/pry-byebug#pry-byebug - "coverage not found"

[2019-03-20 14:49] #218 closed

[2019-03-20 14:50] deivid-rodriguez commented on #218
Thanks for letting me know, it should be fixed now.

[2019-04-01 13:30] FranklinYu commented on #184
Any news? The `list` command is really useful when I’m lost.

[2019-04-02 18:21] semaperepelitsa opened #221 "Ruby 2.6 warning (__FILE__ in eval)"
See related issue in Pry: https://github.com/pry/pry/issues/1871, https://github.com/pry/pry/pull/1904 (not released yet)

When running Ruby 2.6 in verbose mode, it shows this warning:

[code]

[code]

If I remove pry-byebug gem, the warning disappears.

Culprits:

https://github.com/deivid-rodriguez/pry-byebug/blob/master/lib/pry-byebug/base.rb#L16

https://github.com/deivid-rodriguez/pry-byebug/

[2019-04-25 15:57] f3ndot commented on #184
One approach is to just invoke `byebug` instead of `binding.pry` when you need the full power of byebug. Not ideal, but better than nothing.

[2019-07-17 20:25] StevenJL commented on #45
Any movement on this bug?

[2019-08-13 05:04] bcgraham commented on #33
Part of the problem stems from pry-byebug alias-method-chaining `Pry.start`, eating the passed arguments, but not conveying those arguments to the original `Pry.start` call.

The alias-method-chain ([`lib/pry-byebug/pry_ext.rb:10`](https://github.com/deivid-rodriguez/pry-byebug/blob/061757669d2df99bd0a2378b1d33d1b8e0c59d6d/lib/pry-byebug/pry_ext.rb#L10)):
[code]
The call to the original `Pry.start

[2019-12-12 16:30] manik1235 commented on #201
I have a similar issue while using pry-byebug with pry-remote on MacOS. If I try to use `finish`, `step`, or `next`, it gets stuck at a call to `teardown` in `PryRemote::Server#run`

[code]

[2019-12-31 13:16] whois-marvin-42 commented on #221
Made PR #246, hope it helps to  #solve this one.

[2020-01-01 22:53] justin808 opened #247 "backtrace does not use the pager"
With rails stacks having about 120 frames, I'd like backtrace to be able to show the last 10 frames, etc.

Maybe a simpler solution is to just have `backtrace` use the pager?

Other commands like `history --all` use the pager.

[2020-01-10 09:23] #221 closed

[2020-01-16 09:15] codemilan opened #258 "'next' command acts like 'continue' - execution continues can't step through lines using 'next'"

[2020-01-22 06:27] #258 closed

[2020-01-28 18:01] gatopan commented on #45
(╯°□°)╯︵ ┻━┻

[2020-02-12 18:06] dependabot-preview[bot] opened #272 "Dependabot couldn't find a Gemfile for this project"
Dependabot couldn't find a Gemfile for this project.

Dependabot requires a Gemfile to evaluate your project's current Ruby dependencies. It had expected to find one at the path: `/gemfiles/Gemfile`.

If this isn't a Ruby project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs](https://app.dependabot.com/accou

[2020-02-13 09:23] #272 closed

[2020-03-06 21:41] fierytortilla commented on #110
hey @leandrogoe, where is the `print_backtrace` function located in the byebug gem?

[2020-03-08 18:57] fierytortilla commented on #110
hey @leandrogoe, I tried monkey patching your code to the byebug gem in the where.rb script, and I saw no difference in my output. Is there something else one has to do in order to get the gem modifications to work?

[2020-03-19 21:18] leandrogoe commented on #110
[code]

[2020-03-21 12:24] mvz opened #287 "Tighten dependency on pry"
The current dependency specification on `pry` allows any `0.x` version starting from `0.10`. Since `pry` is in the pre-`1.x` stage, please consider tightening the range of minor versions for this dependency.

[2020-03-21 13:39] deivid-rodriguez commented on #287
I'm guessing this issue comes from the fact that `pry'  0.13.0 was released, and it's incompatible with the latest `pry-byebug` release, right?

I've had support for `pry` master for a while, so that particular issue can be fixed by cutting a new release of `pry-byebug`.

That said, I'm sorry this happened, and I'm happy to think of ways of preventing this in the future. How should I do that?

Pos

[2020-03-21 18:08] mvz commented on #287
Right :-)

Yes, the first two options were what I was thinking of. I think the first one requires more work, especially if you want to test compatibility with all minor supported pry versions. So, the second option may indeed be best.

[2020-03-21 19:24] deivid-rodriguez commented on #287
Ok, since I already have the compability code in master, I'll cut a release for now.

In addition to that, since I'm already tracking pry's master in CI, next time there are breaking changes in pry, I'll make a decision about this issue and change the requirement accordingly.

[2020-03-21 19:43] deivid-rodriguez commented on #287
I changed my mind, actually. I'll go with the second option, so that whenever pry releases a breaking minor in the future, I can add support at my own pace.

[2020-03-21 19:57] #287 closed

[2020-03-21 19:58] dependabot-preview[bot] opened #291 "Dependabot couldn't find a gems.rb for this project"
Dependabot couldn't find a gems.rb for this project.

Dependabot requires a gems.rb to evaluate your project's current Ruby dependencies. It had expected to find one at the path: `/gemfiles/pry_master/gems.rb`.

If this isn't a Ruby project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs](https://app.dependabo

[2020-03-21 20:01] #291 closed

[2020-03-26 17:58] kriansa commented on #174
It depends on how you use it. If you use it with Rails, then you added it to the Gemfile and Rails automatically loads all dependencies on boot, therefore you don't need to manually require it.

If you use it elsewhere then you still need to manually require it.

[2020-03-26 18:09] stdedos commented on #174
I've added it to the Gemfile, as I would add any Python dependency to `requirements.txt`

But I am not using Rails, no.

[2020-03-26 18:55] kriansa commented on #174
It was unfair to say that Rails is the only tool that automatically does it. Many frameworks do.

In fact, this isn't about any framework. It's just Bundler. In your code, somewhere, there's either a call to a `require 'pry'` (which I doubt, as you said yourself, you didn't find any), or a call to `Bundler.require`  (most probable).

You can test it yourself by creating an empty project and adding

[2020-05-25 18:13] esambo opened #300 "Fix pry dependency requirement"
In order to resolve to a functioning version combination of pry that doesn't raise error `NameError: uninitialized constant Pry::Command::ExitAll`
As a developer having to use Ruby 2.2.0
I want a new pry-byebug 3.6.x version to resolve to pry `<0.13`

[2020-06-26 04:18] Apteryks opened #304 "Test failures: NoMethodError: undefined method `binding_stack' for nil:NilClass"
When attempting to run the test suite, most tests fails with the error `NoMethodError: undefined method `binding_stack' for nil:NilClass`. Here's the two last test failures:
[code]
This is using GNU Guix. The build happens in a container where GEM_PATH is defined as:
[code]

[2020-06-26 07:38] deivid-rodriguez commented on #304
Byebug 9 is old. I think current `pry-byebug` needs something newer.

[2020-07-01 04:03] Apteryks commented on #304
Thanks for the prompt reply. I've updated byebug to 11.1.3 and now all the test suite runs fine.

[2020-07-01 04:03] #304 closed

[2020-07-11 04:13] VSPPedro commented on #215
Hi, @deivid-rodriguez, I would like to work on this if you don't mind.

[2020-07-11 06:49] deivid-rodriguez commented on #215
Sure, that'd be awesome.

[2020-07-18 09:58] BigAndini commented on #300
I encounter this same error with pry-byebug 3.7.0, pry 0.13.1 and ruby 2.3.3.

[2020-08-13 01:16] zenspider commented on #247
I wouldn't want the pager in this one case tbh... here is an alternative backtrace that is potentially much shorter than before:

https://gist.github.com/zenspider/8049ee1bc6b994e2098508d278183dbc

[2020-08-13 01:20] zenspider opened #313 "Make pry-byebug more extendable"
https://gist.github.com/zenspider/8049ee1bc6b994e2098508d278183dbc

The first paragraph of the above linked code extends `Byebug::PryProcessor#perform` to be extendable... namely it extracts the list of valid names to a constant and tests for inclusion there. That way plugins can add to that and use pry-byebug mechanisms.

The rest of the code adds a new command `bt` that prints a backtrace w/o ru

[2020-08-20 23:57] VSPPedro commented on #215
Sorry for taking so much time to ask.

But what you guys have in mind about how this feature should look like?

I was thinking about something like:

[code]

With the possibility to pass more than one like:

[code]
Or maybe the whole project:

[code]
Finally the `~/.pryrc` would be able to have this configuration, for example:

[code]

[2020-08-24 19:16] dchersey commented on #33
Anybody have traction on this issue? I'm using pry-remote standalone, but would really like to navigate!

[2020-08-25 13:00] dchersey commented on #33
Hi, I am wondering if there is any update on this problem?  I am using pry-remote successfully on heroku, but would love to be able to navigate/debug!

[2020-08-26 22:17] andersonreinkordt commented on #300
Also with `ruby 2.7.1`, `pry-byebug 3.7.0`, `pry 0.13.1`

[2020-09-19 01:49] VSPPedro opened #318 "It's possible to start a REPL session passing a command?"
Hi there, I hope you are doing well.

This is a question (and a suggestion of feature).

I have added an alias on RSpec using `pry-byebug`, just like this:

[code]

I would like that when using this alias, for example in this line of code:

[code]

To session start at the line of the test:

[code]

And not on the alias:

[code]

To go to the line that I want I need to run this command: `step 25`.

[2020-09-19 13:01] #318 closed

[2020-09-19 13:28] VSPPedro commented on #318
Reading this again, it looks like the right place is StackOverFlow. Thank you anyway

[2020-10-14 06:49] hlarsen commented on #258
@codemilan did you find a solution for this? seeing the same issue...

[2020-12-05 19:18] krobelus opened #335 "Loading pry-byebug on Archlinux fails with "cannot load such file -- irb""
Originally reported [here with detailed steps to reproduce](https://gitlab.com/gitlab-org/gitlab-development-kit/-/issues/1127#note_458766094).

In short:

[code]

This is probably specific to Archlinux. I'm not sure if `irb` should be loaded in this case?

[2021-01-01 00:02] meinac commented on #33
I've found a way to make it work and opened an MR here #339.

[2021-01-16 01:11] thomaswuensche opened #343 "Newest version of Pry breaks pry-byebug"
The Pull Request pry/pry#2119 from November changed the way plugins are loaded in Pry: they're no longer autoloaded and need to be required in .pryrc.

However, this does not work for me with pry-byebug.

**Steps to reproduce:**
- clone 'pry' and 'pry-byebug'
- build and install gems
- add `require 'pry-byebug'` to .pryrc
- run a ruby test file with `require 'pry'; binding.pry` included
- type `ne

[2021-01-16 08:43] mvz commented on #343
I can reproduce this. It seems my testing was lousy. I apologize.

[2021-01-17 23:14] thiago-gitlab commented on #33
For anyone who's interested, @meinac's fix has been released as a forked version of this gem: https://rubygems.org/gems/gitlab-pry-byebug/versions/3.9.0

[2021-02-16 08:10] kyrylo commented on #343
Can this be solved with an `extend` instead of monkey-patching?

[2021-02-16 10:05] deivid-rodriguez commented on #343
Sorry for the delay here, I'll try to allocate some time soon to have a look. But yeah, it'd be great to find a solution that doesn't involve monkey-patching!

[2021-02-16 22:44] bf4 commented on #343
I'd be interested if you wanted to test the 'opt-in' plugin behavior in  https://github.com/pry/pry/pull/2177 since I didn't find much of a way to test it on my own

[2021-03-23 03:38] quintrino opened #350 "Pry Byebug specifies an older version of Pry"
https://github.com/deivid-rodriguez/pry-byebug/blob/34ba6766d998d934169cd5e4887da2b69a884cde/pry-byebug.gemspec#L25

Looks like the Gemspec requires 0.13, but Pry has now released 0.14

Is it possible to update this to allow both 0.13 and 0.14?

[2021-04-03 19:26] jorge-precich commented on #350
I think there's a dependabot pr for this, noticed the same issue when running `bundle outdated`. #346

[2021-04-05 09:34] #350 closed

[2021-04-05 10:21] deivid-rodriguez commented on #335
Hi!

I actually reported this at https://bugs.archlinux.org/task/62709, and it was fixed by https://git.archlinux.org/svntogit/packages.git/commit/?h=packages/ruby&id=9ce9e857b3de73fd09ff0b5878577c2591351016. Not sure what the release schedule for that change is, since I've never used archlinux.

Anyways, this is a 3rd party issue, and it's already fixed, so closing!

[2021-04-05 10:21] #335 closed

[2021-04-07 16:38] AHaymond commented on #163
3 years later and this issue still persists. Has any further investigation ever been made to try and solve this?

[2021-04-13 09:59] sphynx79 commented on #343
Same problem in Pry 0.14.1 how can i resolve this problem??

[2021-04-21 05:23] nuxy opened #358 "Deprecation warnings in Ruby 2.7"
I don't think this warrants much explaination.  This should be fixed.

[code]

[2021-04-21 16:23] mdeguzis opened #359 "Pry "next" alias does not work"
~/.pryrc
[code]

Error:
[code]

[2021-04-30 08:48] Adre commented on #358
Looks like this is a pry-byebug 3.8 rather than being Ruby 2.7 specific.

There was a [change in the pry interface a couple of years ago](https://github.com/pry/pry/commit/e6ac84e99c0e32dc2641f85945594feeaf68051b) which changed the params for this, causing the deprecation you're seeing.

I ran into this deprecation when doing a `bundle update` which updated to the latest version of `pry` (0.14.1),

[2021-05-03 22:07] nuxy commented on #358
@Adre - Most definitely related.  I was able to resolve this warning by updating my `Gemfile` to force the version:

[code]

Closing this issue.

[2021-05-03 22:07] #358 closed

[2021-05-06 23:34] kylesnowschwartz commented on #33
Thanks @thiago-gitlab that's awesome. Is this fork receiving updates? I see it's pinned to the 0.13.0 version of Pry, which has moved up to 0.14.0

[2021-05-07 00:24] thiago-gitlab commented on #33
@kylesnowschwartz, it's not because we were hoping that upstream would be eventually fixed. The MR has been open for a few months without any comments, so that hasn't happened yet.

Our fork is here: https://gitlab.com/gitlab-org/gitlab-pry-byebug/-/tree/release_new_version

If anyone feels like contributing an update, I'm sure @meinac would be happy to review it.

[2021-06-25 03:14] justin808 opened #363 "Any plans for a new release?"
The latest versions of pry-byebug 3.9.0 and pry 0.13 seem to cause issues with setting breakpoints.

I documented the issue here.

https://forum.shakacode.com/t/fixing-error-from-setting-a-pry-breakpoint/2101

Using the master branch here and the latest release pry gem fix the issue.

[2021-07-27 15:59] ned-pcs commented on #343
Despite having locked `pry` to 0.13.0, `pry-byebug` still gives me the `UncaughtThrowError: uncaught throw :breakout_nav` error.

@thomaswuensche said:

Where would I add this? I'm greatly missing `pry-byebug` at the moment.

[2021-07-27 17:32] ned-pcs commented on #343
OK, so I made my own version of the `pry` command that `require`d `pry-byebug` early. I still get the same `:breakout_nav` error upon executing a `pry-byebug` command, despite having `start_with_pry_byebug` executed.

Here's my own `pry` command:
[code]

Here's the stack when I invoke `backtrace`:
[code]
`Byebug::PryProcessor#run` is nowhere on this stack.

[2021-09-06 09:18] iqqmuT opened #368 "less: unrecognized option: X"
I'm running pry-byebug in Alpine Linux 3.14.2 Docker container and I get a following error when trying to debug a variable:

[code]

Apparently pry-byebug does not support `less` from BusyBox.

[2021-09-17 02:08] jgarber623 commented on #368
I ran into this issue also and was able to work around it by adding the following instruction to my `Dockerfile`:

[code]

(You could also add `less` to an existing list of packages installed via the `RUN` instruction, of course.)

The solution above was found on this page: https://negabaro.github.io/archive/docker-rails-less

[2021-11-02 13:59] bastelfreak commented on #363
Hi,
would it be possible to get a new release? The latest one blocks pry 0.14.x :(

[2021-11-04 03:19] quintrino commented on #363
I believe that @deivid-rodriguez is hoping to find a solution for https://github.com/deivid-rodriguez/pry-byebug/issues/343 before pushing up a new release.

[2022-01-10 17:32] jrochkind commented on #343
Any update on any chance of a pry-byebug that works with pry 0.14.0?

[2022-01-10 19:19] bkuhlmann commented on #343
Jonathan, not sure if this helps but you might want to switch to the new Ruby core [Debug](https://github.com/ruby/debug) gem. You get all of Pry + Pry Debug in a single gem now. I think the says of Pry are coming to an end.

[2022-01-11 08:30] AlexWayfer commented on #343
I didn't find `up` command in the `debug` gem. Maybe there is lack of other `byebug` commands, not sure. Also, yes, `pry` is better for me than `irb` (colors, formatting, completion), so… it's an alternative, but not full-functional replacement.

[2022-01-11 13:22] bkuhlmann commented on #343
:bow: Alexander. True, it's not a full functional replacement. Fair point.

[2022-01-14 07:52] thibpoullain opened #371 "PR proposition : Deprecated - Pry.config.control_d_handler"
Hi,

I'm on rails 7.0.1 and ruby 3.0.3, using pry-byebug 3.9.0.

I got this warning on my rails server command :

[code]

I checked the file, this is the original :

### control_d_handler.rb:5
[code]

I suggest this (works for me) :

### control_d_handler.rb:5
[code]

What do you think ?

[2022-01-21 14:42] mark-davenport-fountain commented on #371
+1

[2022-01-28 18:39] sjahu opened #372 "Repeated newlines in multi-line strings are ignored"
(Moved from https://github.com/pry/pry/issues/2227 because it seems like this is a behaviour introduced by pry-byebug, not one that exists in pry on its own.)

When multiline strings are entered in the interpreter, repeated newlines are ignored and compacted to a single newline. This behaviour is inconsistent with how multi-line strings are handled by the ruby parser and by irb (see example below)

[2022-02-27 09:15] 23tux commented on #371
Is there any news on this?

[2022-05-20 04:49] 00Masato commented on #371
Hi,
I have same issue with Rails 6.1.4, Ruby 3.0.
Any Progress?

[2022-06-07 10:14] kikonen opened #373 "NameError: undefined local variable or method `text' for #<PryByebug::BreakCommand"
[code]

[2022-06-29 10:54] kzq commented on #371
+1

[2022-07-20 05:19] quintrino opened #375 "New release?"
Hi,

Looks like there's been at least 30+ commits merged since the last commit. Any chance of a release so that it's updated on rubygems?

[2022-07-26 16:47] milosivanovic commented on #375
Yeah, I'd like this too.

I'm seeing:

[code]

but that was fixed a year ago in https://github.com/deivid-rodriguez/pry-byebug/commit/b16dea0cf934760797270288fb995b6bf32dbf69 which still hasn't been released.

[2022-08-02 00:46] alissa-huskey opened #376 "Deprecation warnings Pry v 0.14.1 on Ruby v 3.1.1"
This seems to be the same issue as #358.

[code]

I tried modifying my Gemfile to pin `pry-byebug` to `3.9.0`, but I get a dependency resolution error:

[code]

[2022-08-12 11:58] matheussilvasantos opened #377 "Relax restriction for byebug version"
Any chance to make `pry-byebug` work with `byebug` 11.1?

[2022-08-15 13:29] deivid-rodriguez commented on #343
#343 should fix this, can someone confirm?

[2022-08-15 17:30] #343 closed

[2022-08-15 18:05] deivid-rodriguez commented on #376
I released pry-byebug 3.10.0 that should fix this!

[2022-08-15 18:05] #376 closed

[2022-08-15 18:06] deivid-rodriguez commented on #377
Pry-byebug should support byebug 11.1, which problem are you having?

[2022-08-15 18:07] deivid-rodriguez commented on #375
I released 3.10.0, let me know if it works!

[2022-08-15 18:07] #375 closed

[2022-08-15 18:08] deivid-rodriguez commented on #363
I pushed a solution and released it as 3.10.0, let me know how it goes, thanks!

[2022-08-15 18:08] #363 closed

[2022-08-15 18:08] deivid-rodriguez commented on #300
I think we fixed this in recent versions, let me know if that's not the case!

[2022-08-15 18:08] #300 closed

[2022-08-15 18:25] deivid-rodriguez commented on #138
This issue is very old, I think this is fixed now. Let me know if it's not!

[2022-08-15 18:25] #138 closed

[2022-08-16 00:44] andrehjr commented on #343
I've tested with pry 0.14.1 and pry-byebug 3.10.0 and had no issues.

Thanks @deivid-rodriguez !

[2022-08-16 04:21] deivid-rodriguez commented on #343
Awesome, thanks for trying it!

[2022-08-16 14:48] AliSepehri opened #391 "The version 3.10.0 breaks rails console"
After upgrading my `pry-byebug` to the version `3.10.0`, my `rails console` has been broken:

<img width="1378" alt="Screenshot 2022-08-16 at 16 46 05" src="https://user-images.githubusercontent.com/7887290/184909263-52b1118b-d7c9-4943-b329-694653b5fb01.png">

[2022-08-16 14:49] deivid-rodriguez commented on #391
Hi, that's too bad, sorry. Which version of pry are you using? Is this reproducible on a plain Rails app?

[2022-08-16 14:50] silasb commented on #391
We are also noticing this with 3.10.0

[2022-08-16 14:51] deivid-rodriguez commented on #391
Are you using pry 0.13?

[2022-08-16 14:52] silasb commented on #391
No, we are using pry 0.14.1

[2022-08-16 14:55] silasb commented on #391
We are also using `pry-rails (0.3.9)` as well.

[2022-08-16 14:59] deivid-rodriguez commented on #391
Yes, I figured that since otherwise your Rails console wouldn't use pry, right? However, I get this issue with pry-bye bug 3.9.0 as well, so it might be an older regression? Or maybe you upgraded pry and pry-byebug at the same time?

[2022-08-16 15:03] AliSepehri commented on #391
No, for me it only happens with the version `3.10.0`. I checked the latest changes and I just create a PR that fixes my issue.

[2022-08-16 15:05] deivid-rodriguez commented on #391
This is super weird.

[2022-08-16 16:11] #391 closed

[2022-08-17 12:08] matheussilvasantos commented on #377
I tried to install `ruby_jard` without removing `pry-byebug`. But `bundler` can't install `byebug` 11.1, needed for `ruby_yard`, because `pry-byebug` needs `~> 11.0`.

[2022-08-17 12:14] deivid-rodriguez commented on #377
The `~> 11.0` requirement is perfectly compatible with `11.1`, it must be something else that was preventing `byebug` from being installed.

[2022-08-17 12:21] matheussilvasantos commented on #377
Indeed, it is. 🤦
Sorry for that. I've updated `byebug`, and it worked.

[2022-08-17 12:21] #377 closed

[2022-08-17 12:54] deivid-rodriguez commented on #377
No problem!

[2022-08-22 08:29] deivid-rodriguez commented on #371
This should be fixed now by the recent releases!

[2022-08-22 08:29] #371 closed

[2022-10-13 03:43] lingengyu0828 opened #397 "J"

[2022-10-15 08:15] lingengyu0828 opened #398 "p"
https://support.Google.com/ah/thread/179396325?later=en

[2022-10-15 08:16] #398 closed

[2022-10-24 07:26] vigneshraman opened #401 "Build failure with ruby-pry-byebug version 3.9.0-1"
With ruby-pry-byebug version 3.9.0-1, I'm seeing the below build failure,
[code]

The same issue is reported in https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/ruby-pry-byebug.html